@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../../../../public/assets/images/background-header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}