<div class="skills relative w-full">
    <ul class="list-none relative w-full">
        <li *ngFor="let skill of skills; let last = last;" [class.mb-12]="!last">
            <div class="flex-center-center flex-col w-full md:flex-row">
                <div class="flex-center-center flex-col flex-[1_1_20%]" [class]="skill.textColor">
                    <p class="text-center text-base" [innerHTML]="skill.language"></p>
                    <i class="text-7xl md:text-8xl" [class]="skill.iconClassName" aria-hidden="true"></i>
                </div>
                <ul class="list-none flex flex-col flex-[1_1_80%]">
                    <li *ngFor="let detail of skill.details; let last = last;" class="flex-center-center flex-col md:flex-row" [class.mb-3]="!last">
                        <div class="flex-col flex-[1_1_30%] mr-2">
                            <p class="text-right text-xs md:text-sm" [innerHTML]="detail.text + '&nbsp;:'"></p>
                        </div>
                        <div class="relative h-4 flex-[1_1_70%]" [class]="skill.bgColorDark">
                            <div class="relative h-full" [class]="skill.bgColor" [style.width]="detail.percent + '%'"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
