<ul class="relative w-full lg:px-10">
    @for (skill of skills; track $index; let last = $last;) {
        <li [class.mb-12]="!$last">
            <div class="flex items-center flex-col gap-4 w-full lg:flex-row">
                <div class="flex-[1_1_15%]" [class]="skill.textColor">
                    <div class="flex-center-center flex-col">
                        <p class="text-center text-base" [innerHTML]="skill.language"></p>
                        <i class="text-7xl md:text-8xl" [class]="skill.iconClassName" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="w-full md:flex-[1_1_85%]">
                    <ul class="relative w-full">
                        @for (detail of skill.details; track $index; let last = $last;) {
                            <li class="flex items-center flex-col gap-2 md:flex-row" [class.mb-3]="!$last">
                                <div class="w-full md:flex-[1_1_40%]">
                                    <p class="text-left text-xs md:text-sm md:text-right" [innerHTML]="detail.text + '&nbsp;:'"></p>
                                </div>
                                <div class="relative h-4 w-full md:flex-[1_1_60%]" [class]="skill.bgColorDark">
                                    <div class="relative h-4 md:h-full" [class]="skill.bgColor" [style.width]="detail.percent + '%'"></div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </li>
    }
</ul>