@import '../../../../styles/variables';

.container-pagination {
    button {
        &.active,
        &:hover {
            background: $cyan;
            color: $black;
            border-color: $cyan;
        }
    }
}