@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.references-inspirations {

    .list-references-inspirations {
        list-style: none;
        column-count: 3;
        column-fill: auto;
        max-height: 10rem;

        li {
            margin-bottom: 1rem;
        }
    }

    .note {
        margin-top: .8rem;
        font-style: italic;
        color: $yellow;
        font-size: .85rem;
    }
}