@import '../../../../styles/variables';

.toggle-switch {
    &:has(> input:checked) {
        border: 2px solid $blue;
    }
    input {
        &:checked {
            + .slider {
                left: 45%;
                background: $blue;
            }
        }
    }
    .slider {
        transform: translate(0%, -50%);
        top: 50%;
        left: 5%;
        height: 70%;
        width: 50%;
    }
}