@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/base/container';

.footer {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    background: $body-bg2;
}