@import '../../../styles/base';

.game-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $body-bg;

    .grid-game {
        padding: 0 16%;
        padding-top: 1rem;
        padding-bottom: 2.5rem;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1.7fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "header-game" "content-game";
    
        .header-game {
            grid-area: header-game;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .block-header-game {
                display: flex;

                // btn actions
                &:nth-child(1) {
                    flex: 20;
                    align-items: center;
                    gap: 0.5rem;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $orange;
                        padding: .33rem .75rem;
                        transition: 0.15s ease-in-out;
            
                        &:hover {
                            filter: brightness(120%);
                        }
        
                        span {
                            color: $white;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                        }
                    }
                }

                // health bar
                &:nth-child(2) {
                    flex: 50;
                    align-items: center;

                    .container-health-bar {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        p {
                            font-size: 1.7rem;
                        }
        
                        .health-bar {
                            width: 100%;
                            height: 1rem;
                            background: $pink;

                            .health {
                                height: 100%;
                                background: $cyan;
                            }
                        }
                    }
                }

                // score
                &:nth-child(3) {
                    flex: 30;
                    flex-direction: column;
                    align-items: flex-end;

                    p, span {
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
    
                    span {
                        min-width: 60px;
                        display: inline-block;
                    }
                }
            }
        }
        
        .content-game {
            grid-area: content-game;
            border: 1px dashed $orange;
            background-color: $body-bg;
            background-image: url(../../../../public/assets/images/space-background.jpeg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            mix-blend-mode: difference;

            .game-container {
                height: 100%;
                overflow: hidden;

                .move-to-start {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    text-transform: uppercase;

                    span {
                        font-size: 2rem;
                        margin-right: .5rem;
                    }

                    i {
                        font-size: 1.5rem;
                    }
                }

                .game-cursor {
                    position: absolute;
                    bottom: 0;
                    left: -25.5%;
                    width: 75px;
                    height: 125px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    background-image: url(../../../../public/assets/gif/rocket-spaceship.gif);
                    pointer-events: none;
                    opacity: 0;

                    &>* {
                        pointer-events: none;
                    }

                    &.can-be-hitted {
                        pointer-events: all;
                        opacity: 1;

                        &>* {
                            pointer-events: all;
                        }
                    }

                    .collision-box {
                        position: relative;
                        width: 50px;
                        height: 70px;
                        left: 11px;
                        opacity: 0.6;
                        border-top-left-radius: 50px;
                        border-top-right-radius: 50px;
                        
                        &.hitted-animation {
                            animation: hitted-animation 0.35s forwards;
                            @keyframes hitted-animation {
                                0% {
                                    background: $red;
                                }
                                100% {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }

                .meteor {
                    position: absolute;
                    top: -10%;
                    opacity: 0;
                    animation: meteor-falling-animation;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                    animation-delay: 5s;
                    @keyframes meteor-falling-animation {
                        0% {
                            top: -10%;
                            opacity: 0;
                        }
                        5% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 1;
                            top: 100%;
                        }
                    }
                    
                    &.meteor-falling-animation-1 {
                        animation-duration: 1s;
                    }

                    &.meteor-falling-animation-2 {
                        animation-duration: 1.8s;
                    }

                    &.meteor-falling-animation-3 {
                        animation-duration: 2.5s;
                    }

                    &.meteor-falling-animation-4 {
                        animation-duration: 2.8s;
                    }

                    &.meteor-falling-animation-5 {
                        animation-duration: 3.2s;
                    }
                }
            }
        }
    }
}

.game-over-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: $body-bg;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(../../../../public/assets/images/game-over-background.jpg);
        opacity: 0.5;
    }

    .block-game-over {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 1;

        h3 {
            font-size: 16vw;
            font-weight: 500;
            -webkit-text-stroke: 0.25px $pink;

            @include screen('s') {
                font-size: 12vw;
                -webkit-text-stroke: 1px $pink;
            }
        }

        p {
            font-size: 4.5vw;
            font-weight: 500;
            -webkit-text-stroke: 1px $black;

            @include screen('s') {
                font-size: 2.8vw;
            }
        }

        .container-btn {
            margin-top: 2.3rem;
            display: flex;
            flex-direction: column;
            gap: .75rem;

            button {
                padding: .9rem 1.5rem;
                background: $pink;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    filter: brightness(90%);
                }

                &:last-child {
                    background: $black;
                }

                i {
                    margin-right: .5rem;
                    font-size: 1rem;

                    @include screen('s') {
                        font-size: 1.2rem;
                    }
                }

                span {
                    font-size: .8rem;
                    text-transform: uppercase;
                    font-weight: 600;

                    @include screen('s') {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}