<div class="game-background fixed-backdrop-flex-center">
    <div class="container grid-game h-full grid grid-cols-1 grid-rows-[0.3fr_1.7fr] gap-0 grid-flow-row" style="grid-template-areas: 'header-game' 'content-game';">
        
        <header class="relative flex items-center justify-between" style="grid-area: 'header-game';">
            <div class="block-header-game flex items-center flex-1">
                <button class="btn flex items-center justify-center bg-orange" aria-label="Quitter" (click)="onClickQuitGame()">
                    <span class="text-white uppercase jersey-15-regular">Quitter</span>
                </button>
            </div>
            <div class="block-header-game flex items-center flex-1">
                <div class="container container-health-bar flex items-center">
                    <p class="jersey-15-regular">PV</p>
                    <div class="health-bar w-full bg-pink h-4">
                        <div class="health h-full bg-cyan" [style.width]="health + '%'"></div>
                    </div>
                </div>
            </div>
            <div class="block-header-game flex flex-col items-end flex-1">
                <p class="jersey-15-regular uppercase">Score&nbsp;: <span class="score">{{ score }}</span></p>
                <p class="jersey-15-regular uppercase">High&nbsp;Score&nbsp;: <span class="high-score">{{ highScore }}</span></p>
            </div>
        </header>

        <div 
            class="content-game relative bg-no-repeat bg-cover bg-center bg-body cursor-hidden"
            style="background-image: url(assets/images/space-background.jpeg); grid-area: 'content-game';"
        >
            <div #gameContainer class="container game-container relative overflow-hidden h-full" (mousemove)="onMouseMoveIntoGameContainer($event)">
                <p *ngIf="!mouseIsMovingOnce" class="move-to-start flex absolute translate-x-y top-1/2 left-1/2 items-center uppercase jersey-15-regular flash-animation-infinite">
                    <span>Déplacez la souris</span>
                    <i class="fa-solid fa-computer-mouse" aria-hidden="true"></i>
                </p>
                <div #gameCursor class="game-cursor absolute bottom-0 bg-no-repeat bg-cover bg-center" [class]="isInGameContainer ? 'can-be-hitted' : null">
                    <div #collisionBox class="collision-box relative" [class]="collisionBoxIsHitted ? 'hitted-animation' : null"></div>
                </div>
            </div>
        </div>
    </div>
    <div 
        *ngIf="gameIsOver" 
        class="game-over-background fixed-backdrop-flex-center z-10 bg-body bg-no-repeat bg-contain bg-center"
        style="background-image: url(assets/images/game-over-background.jpg);"
    >
        <div class="flex flex-col items-center z-10">
            <h3 class="jersey-15-regular">Game Over</h3>
            <p>Score&nbsp;: <span>{{ storedPlayerScore }}</span></p>
            <div class="container-btn flex flex-col">
                <button class="btn" (click)="onClickRetryGame()">
                    <i class="fa-solid fa-rotate-right" aria-hidden="true"></i>
                    <span>Recommencer</span>
                </button>
                <button class="btn" (click)="onClickQuitGame()">
                    <span>Quitter</span>
                </button>
            </div>
        </div>
    </div>
</div>