<div class="game-background">
    <div class="container grid-game">
        <div class="header-game">
            <div class="block-header-game">
                <button class="btn" aria-label="Quitter" (click)="onClickQuitGame()">
                    <span class="jersey-15-regular">Quitter</span>
                </button>
            </div>
            <div class="block-header-game">
                <div class="container container-health-bar">
                    <p class="jersey-15-regular">PV</p>
                    <div class="health-bar">
                        <div class="health" [style.width]="health + '%'"></div>
                    </div>
                </div>
            </div>
            <div class="block-header-game">
                <p class="jersey-15-regular">Score&nbsp;: <span class="score">{{ score }}</span></p>
                <p class="jersey-15-regular">High&nbsp;Score&nbsp;: <span class="high-score">{{ highScore }}</span></p>
            </div>
        </div>
        <div class="content-game cursor-hidden">
            <div #gameContainer class="container game-container" (mousemove)="onMouseMoveIntoGameContainer($event)">
                <p *ngIf="!mouseIsMovingOnce" class="move-to-start jersey-15-regular flash-animation-infinite">
                    <span>Déplacez la souris</span>
                    <i class="fa-solid fa-computer-mouse" aria-hidden="true"></i>
                </p>
                <div #gameCursor class="game-cursor" [class]="isInGameContainer ? 'can-be-hitted' : null">
                    <div #collisionBox class="collision-box" [class]="collisionBoxIsHitted ? 'hitted-animation' : null"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="gameIsOver" class="game-over-background">
        <div class="block-game-over">
            <h3 class="jersey-15-regular">Game Over</h3>
            <p>Score&nbsp;: <span>{{ storedPlayerScore }}</span></p>
            <div class="container-btn">
                <button class="btn" (click)="onClickRetryGame()">
                    <i class="fa-solid fa-rotate-right" aria-hidden="true"></i>
                    <span>Recommencer</span>
                </button>
                <button class="btn" (click)="onClickQuitGame()">
                    <span>Quitter</span>
                </button>
            </div>
        </div>
    </div>
</div>