.loader,
.program-tv {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-bg;
    background-image: url(../../assets/images/tv-no-signal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color;

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;

        p {
            opacity: 0.65;
            margin-bottom: 0.55rem;
            margin-left: 0.33rem;

            &:nth-child(1) {
                font-size: 1.4rem;
                animation: text-anim 1s linear infinite;
                @keyframes text-anim {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }

            &:nth-child(2) {
                font-size: 1.05rem;
                margin-bottom: 0.7rem;
            }
        }

        .container-block {
            width: 100%;
            height: 3.5rem;
            border-radius: 10px;
            border: 2px solid $cyan;
            padding: 0.4rem;
            display: flex;
            justify-content: center;
            gap: 0.4rem;
            animation: border-color-anim 2.5s linear infinite;
            @keyframes border-color-anim {
                0% {
                    border-color: $cyan;
                }
                50% {
                    border-color: $pink;
                }
                100% {
                    border-color: $cyan;
                }
            }

            .block {
                display: flex;
                align-items: center;
                justify-content: center;
                background: $pink;
                width: 100%;
                height: 100%;
                opacity: 0;
                animation: block-color-anim 2.5s linear infinite;
                @keyframes block-color-anim {
                    0% {
                        opacity: 0;
                        background: $cyan;
                    }
                    50% {
                        opacity: 1;
                        background: $pink;
                    }
                    100% {
                        opacity: 0;
                        background: $cyan;
                    }
                }

                &:first-child {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                &:last-child {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                i {
                    font-size: 1.2rem;
                }
            }
        }
    }

    video {
        width: 100vw;
        height: 100vh;
    }
}