<div class="fixed-backdrop-screen-flex-center p-4 bg-img-cover-center" style="background-blend-mode: lighten; background-image: url(assets/gif/tv-static.gif)">
    <h1 class="text-[55vw] text-white text-shadow-chromatic-glitch-strong opacity-20">404</h1>
    <app-block-signal-tv 
        iconClassNames="fa-solid fa-bug" 
        headerTitle="Signal introuvable..." 
        subtitle="Cette chaîne n'existe pas"
        linkHref=""
        linkText="Chercher un nouveau signal"
    >
    </app-block-signal-tv>
</div>