.toolbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    z-index: 1;

    .timer,
    .play {
        color: $white;
        font-size: 1.4rem;
        opacity: 0.65;
        text-transform: uppercase;
        display: none;

        @include screen('s') {
            display: block;
        }
    }
}