<div class="relative h-screen flex items-center justify-center">
    <div class="relative w-full max-w-[280px] flex flex-col gap-6">
        <header class="flex flex-col items-center">
            <i class="fa-solid fa-arrow-right-to-bracket text-xl mb-2" aria-hidden="true"></i>
            <p>Se connecter</p>
        </header>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <ul>
                <li class="flex flex-col mb-2">
                    <label class="text-sm" for="email">E-mail&nbsp;:</label>
                    <input id="email" class="border border-black p-1" type="text" formControlName="email"
                    [class.border-red]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                </li>
                <li class="flex flex-col mb-2">
                    <label class="text-sm" for="password">Mot de passe&nbsp;:</label>
                    <input id="password" class="border border-black p-1" type="password" formControlName="password"
                    [class.border-red]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                </li>
                <li class="flex justify-end">
                    <a class="text-sm text-blue underline" routerLink="/forgot-password" routerLinkActive="active" ariaCurrentWhenActive="page">Mot de passe oublié&nbsp;?</a>
                </li>
                <li class="flex justify-center mt-6">
                    <button class="btn-primary" type="submit">Valider</button>
                </li>
            </ul>
        </form>
        <footer>
            <ul>
                <li class="flex justify-center mb-6">
                    <button class="btn-google" (click)="onClickLoginWithGoogle()">
                        <img class="w-6" src="assets/images/logo-google.png" alt="Google">
                        <span>Se connecter avec Google</span>
                    </button>
                </li>
                <li class="flex justify-center">
                    <a class="text-blue underline" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Créer un compte</a>
                </li>
            </ul>
        </footer>
    </div>
</div>