$half-circle-width: 180px;
$border-card: 2px solid #ffffff33;
$box-shadow-card: inset 0px -1px 45px 0px rgba(212, 212, 212, 0.2);

.employee-card {
    position: relative;
    margin: 0 auto;
    width: 640px;
    border-radius: 3.5rem;
    background: #ffffff21;
    letter-spacing: -0.11rem;
    color: #444671;
    background: #ffffff38;
    transition: box-shadow 0.1s, transform 0.1s;
    overflow: hidden;
    border: $border-card;
    box-shadow: $box-shadow-card;

    &>* {
        pointer-events: none;
    }

    &:hover {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
    }

    .card {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.8rem;
        margin: 1.3rem;
        gap: 0.75rem;
        background: #e0dccb;
        border: $border-card;
        box-shadow: $box-shadow-card;

        &::after {
            content: "02/01/1990 - 37100 - 178";
            display: block;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            right: -30px;
            font-size: 1rem;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            color: #ffffff27;
            font-weight: 700;
        }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-size: 1.5rem;
            }

            .container-icon {
                z-index: 1;
                border-radius: 50%;
                background: #444671;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1.3rem;

                i {
                    color: $white;
                    font-size: 1.6rem;
                }
            }
        }

        .card-content {
            display: flex;
            gap: 2.5rem;

            .photo {
                position: relative;
                width: 100px;
                height: 150px;
                background-image: url(../../assets/images/me.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                filter: grayscale(0.4) contrast(0.75);
            }

            .container-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.85rem;

                p {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    &:nth-child(1) {
                        span {
                            font-size: 1.3rem;
                            font-weight: 700;
                        }
                    }

                    &:nth-child(2) {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .banner {
            position: relative;
            background: #444671;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.7rem;
                color: $white;

                span {
                    &:nth-child(1) {
                        font-weight: 600;
                        margin-bottom: 0.4rem;
                        font-size: 1.2rem;
                    }
                    &:nth-child(2) {
                        font-weight: 300;
                        font-size: 1rem;
                        font-style: italic;
                    }
                }
            }
        }

        .card-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                font-size: 1.8rem;
            }

            p {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    &:nth-child(1) {
                        font-size: 1.05rem;
                        font-weight: 700;
                    }
                    &:nth-child(2) {
                        font-size: 0.8rem;
                    }
                }

                i {
                    margin: 0 0.2rem;
                    font-size: 0.7rem;
                }
            }
        }

        .wave {
            position: absolute;
            top: -1px;
            bottom: 0;
            right: 10px;
            height: 83%;
        }

        .half-circle {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            right: -($half-circle-width + 20);
            width: $half-circle-width;
            height: $half-circle-width;
            border-radius: 50%;
            border: $border-card;
            box-shadow: $box-shadow-card;
        }
    }
}