@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/base/container';

.list-footer {
    display: flex;
    justify-content: space-between;

    .content-footer {
        display: flex;
        align-items: center;

        img {
            width: 300px;
        }

        &.list-footer-group {
            gap: 5rem;
    
            ul {
                list-style: none;
                flex: 1;
                min-width: 15rem;
            
                li {
                    margin-bottom: .75rem;
            
                    @include screen('s') {
                        margin-bottom: 1rem;
                    }
            
                    a {
                        font-size: .7rem;
            
                        @include screen('s') {
                            font-size: .9rem;
                        }
        
                        @include screen('xxl') {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}