[data-content="arcade"] {
    .container-arcade {
        position: relative;
        margin: 0 auto;
        width: 100%;
        border-radius: 1.5rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 32px 32px;
        background-position: center;
        background-image: linear-gradient(to right, $pink-light 1px, transparent 1px), linear-gradient(to bottom, $pink2-light 1px, transparent 1px);
        box-shadow: inset 0px 0px 37px 15px rgba(77, 77, 77, 0.65);

        @include screen('s') {
            max-width: 680px;
            padding: 4rem;
            border-radius: 3rem;
        }

        h3 {
            margin-top: -1.5rem;
            margin-bottom: 2rem;
            font-size: 2.1rem;
            transform: rotateX(60deg);
            transform-origin: bottom;
            text-shadow: 0 8px 0 #E79C10, 0 -8px 0 #D53A33, 0 8px 8px rgba(0, 0, 0, 0.5);

            @include screen('s') {
                text-shadow: 0 13px 0 #E79C10, 0 -13px 0 #D53A33, 0 8px 8px rgba(0, 0, 0, 0.5);
                font-size: 4rem;
            }
        }

        .insert-coins {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            animation: h3-anim 0.9s linear infinite;
            @keyframes h3-anim {
                0% {
                    opacity: 0;
                }
                50% {
                    opacity: 0.65;
                }
                100% {
                    opacity: 0;
                }
            }

            img {
                width: 1.8rem;
                margin-right: 0.33rem;
                animation: img-anim 1.2s linear infinite;
                @keyframes img-anim {
                    0% {
                        transform: rotateY(0deg);
                    }
                    100% {
                        transform: rotateY(360deg);
                    }
                }

                @include screen('s') {
                    width: 2.2rem;
                }
            }

            span {
                color: $white;
                font-size: 1.2rem;
                margin-right: 0.2rem;
                letter-spacing: -0.15rem;

                @include screen('s') {
                    font-size: 1.5rem;
                }
            }
        }

        [data-btn-action="open-arcade-menu"] {
            font-size: 1rem;
            color: $white;
            padding: 0.5rem 2rem;
            border-radius: 0.15rem;
            background: $pink2-light;
            transition: background 0.1s ease-in-out;

            @include screen('s') {
                font-size: 1.5rem;
            }

            &:hover {
                background: $pink2;
            }
        }
    }
}