[data-content="contact"] {

    .container-contact {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include screen('s') {
            flex-direction: row;
            gap: 0;
        }

        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 20rem;

            img {
                width: 60%;
            }

            h3 {
                font-size: 2.2rem;
                margin-bottom: 2rem;
            }
        
            .list-contact-infos {
                margin-left: 2rem;
                list-style: none;

                li {
                    margin-bottom: 1.75rem;

                    a {
                        text-decoration: none;
                        font-size: 1rem;
                        border-bottom: 1px solid;
                        padding-bottom: 0.1rem;

                        @include screen('s') {
                            font-size: 1.4rem;
                        }

                        i {
                            margin-right: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}