[data-content="location"] {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include screen('s') {
        flex-direction: row;
        gap: 0;
    }

    .container-location {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include screen('s') {
            align-items: inherit;
        }

        .wrapper-location {
            h3, p {
                color: #f0fff8;
                text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
            }
    
            h3 {
                text-transform: uppercase;
                font-size: 1.1rem;
                margin-bottom: 1.5rem;
                animation: h3-anim 1s linear infinite;
                @keyframes h3-anim {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
    
                @include screen('s') {
                    font-size: 1.3rem;
                    margin-bottom: 2rem;
                }
            }
    
            p {
                font-size: 0.8rem;
                margin-bottom: 0.33rem;
    
                @include screen('s') {
                    font-size: 1rem;
                    margin-bottom: 0.6rem;
                }
    
                span {
                    font-weight: 300;
                }
    
                &:last-child {
                    text-shadow: 0 0 3px #ff8080, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
                }
            }
        }
    }

    .canvas-earth-globe {
        width: 100% !important;

        @include screen('s') {
            width: 500px !important;
        }
    }
}