[data-content="references"] {
    
    .references-list {
        column-count: 2;
        column-fill: auto;
        height: 200px;

        @include screen('s') {
            column-count: 3;
            height: 150px;
        }

        li {
            margin-left: 1rem;
            padding: 0.25rem 0;

            @include screen('s') {
                padding: 0.5rem 0;
            }

            a {
                font-size: 0.6rem;

                @include screen('s') {
                    font-size: 1rem;
                }
            }
        }
    }

    .nb {
        color: $yellow;
        margin-top: 2rem;
        font-size: 0.8rem;
        font-style: italic;

        span {
            text-decoration: underline;
        }
    }
}