<div class="fixed-backdrop-full pointer-events-none shadow-inset-white z-50" [class.hidden]="!isVisible">
    <div class="absolute-full bg-cover bg-center bg-no-repeat opacity-[0.06] bg-pink" style="background-blend-mode: lighten; background-image: url(assets/gif/tv-static.gif)"></div>
    <div class="absolute-full opacity-15">
        <div class="animation-chromatic-aberration-infinite top"></div>
        <div class="animation-chromatic-aberration-infinite bottom"></div>
        <div class="vhs-lines animation-vhs-lines-infinite" style="height: 2px;animation-delay: 5s;"></div>
        <div class="vhs-lines animation-vhs-lines-infinite" style="height: 3px;animation-delay: 7s;"></div>
        <div class="vhs-lines animation-vhs-lines-infinite" style="height: 1px;animation-delay: 15s;"></div>
        <div class="vhs-lines animation-vhs-lines-infinite" style="height: 5px;animation-delay: 17s;"></div>
        <div class="vhs-lines animation-vhs-lines-infinite" style="height: 2px;animation-delay: 23s;"></div>
    </div>
    <footer class="absolute-w-full-bottom p-4 px-[4%] opacity-50 flex-center-between animation-fade-forwards-5s" [class.hidden-important]="!footerIsVisible">
        <app-time-counter></app-time-counter>
        <div class="flex items-center">
            <p class="text-shadow-chromatic-glitch-strong text-white text-xl mr-2">PLAY</p>
            <i class="fa-solid fa-play text-shadow-chromatic-glitch-strong text-white text-xl" aria-hidden="true"></i>
        </div>
    </footer>
</div>