@import '../../../../styles/base';

.footer {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4%;
    opacity: 0.5;

    @include screen('s') {
        display: flex;
    }

    .timer {
        color: $white;
        font-size: 1.3rem;
    }

    .container-play {
        display: flex;
        align-items: center;

        p, i {
            color: $white;
            font-size: 1.3rem;
        }

        p {
            text-transform: uppercase;
            margin-right: 0.55rem;
        }
    }
}