<div class="fixed-backdrop-flex-center bg-square-pink z-10 shadow-inset-white" (mousemove)="onMouseMoveIntoView($event)">
    <div class="h-[90%] w-[60%] grid grid-cols-1 grid-rows-[0.3fr_1.7fr] gap-0 grid-flow-row" style="grid-template-areas: 'header-game' 'content-game';">
        <!-- header -->
        <header class="relative flex items-center justify-between gap-4" style="grid-area: header-game;">
            <div class="flex items-center flex-[1_1_25%] gap-3">
                <a href="" class="btn flex items-center justify-center bg-pink-dark text-xl w-[34px] h-[34px] hover:text-white" aria-label="Retour à la homepage" title="Retour à la homepage">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                <button class="btn flex items-center justify-center bg-pink-dark text-xl w-[34px] h-[34px] active:bg-red" aria-label="Stopper et réinitialiser" (click)="onClickStopGame()" title="Stopper et réinitialiser">
                    <i class="fa-regular fa-circle-stop" aria-hidden="true"></i>
                </button>
            </div>
            <div class="flex items-center flex-[1_1_45%]">
                <div class="container-health-bar flex items-center w-full">
                    <p class="text-lg mr-2">PV</p>
                    <div class="health-bar w-full bg-pink h-4">
                        <div class="health h-full bg-cyan" [style.width]="health + '%'"></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-end flex-[1_1_30%]">
                <p class="uppercase text-lg">Score&nbsp;: 
                    <span class="score w-[60px] inline-block">{{ score }}</span>
                </p>
                <p class="uppercase text-base">High&nbsp;Score&nbsp;: 
                    <span class="high-score w-[60px] inline-block">{{ storedHighScore }}</span>
                </p>
            </div>
        </header>
        <!-- content-game -->
        <div 
            class="relative w-full bg-no-repeat bg-cover bg-center bg-body shadow-inset-white-strong"
            style="background-image: url(assets/images/space-background.jpeg); grid-area: content-game;"
        >
            <!-- gameContainer -->
            <div #gameContainer class="relative w-full h-full overflow-hidden" (mouseenter)="onMouseEnterGameContainer()" (mouseleave)="onMouseLeaveGameContainer()">
                <!-- Cliquez pour jouer -->
                <button *ngIf="!gameIsStarted" (click)="onClickStartGame()" class="absolute-full-flex-center uppercase jersey-15-regular z-10 animation-fade-infinite">
                    <span class="mr-2 text-3xl">Cliquez pour jouer</span>
                    <i class="fa-solid fa-computer-mouse text-2xl" aria-hidden="true"></i>
                </button>
                <!-- En Pause -->
                <div *ngIf="gameIsPaused" class="absolute-full-flex-center bg-black-transparent-light uppercase jersey-15-regular z-10">
                    <div class="flex-center-center animation-fade-infinite">
                        <span class="mr-2 text-3xl">En Pause</span>
                        <i class="fa-regular fa-circle-pause text-2xl" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- game-cursor -->
                <div #gameCursor class="absolute -translate-x-2/4 left-[50%] bottom-0 w-[75px] h-[125px] bg-no-repeat bg-contain bg-bottom" 
                    style="background-image: url(assets/gif/rocket-spaceship.gif);"
                >
                    <div #collisionBox class="collision-box relative"></div>
                </div>
            </div>
            <!-- game over -->
            <div *ngIf="gameIsOver" class="absolute-full-flex-center z-10">
                <div class="flex flex-col items-center z-10">
                    <h3 class="jersey-15-regular text-8xl">Game Over</h3>
                    <p class="jersey-15-regular text-6xl">Score&nbsp;: <span>{{ storedScore }}</span></p>
                    <div class="flex flex-col">
                        <button class="btn jersey-15-regular text-3xl" (click)="onClickRetryGame()">
                            <i class="fa-solid fa-rotate-right" aria-hidden="true"></i>
                            <span>Recommencer</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>