.collision-box {
    width: 50px;
    height: 70px;
    left: 11px;
    opacity: 0.6;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.stellar-object {
    top: -10%;
    opacity: 0;
    // animation: animation-stellar-object-forwards 8000ms linear forwards;
    animation: animation-stellar-object-forwards;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    @keyframes animation-stellar-object-forwards {
        0% {
            top: -10%;
            opacity: 0;
        }
        5% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            top: 100%;
        }
    }
}