@import '../../../../styles/base';

.h2 {
    &::before {
        content: "-";
        display: flex;
        width: 1.5rem;
        height: 0.2rem;
        background: $cyan;
        margin-right: .75rem;

        @include screen('s') {
            width: 3rem;
        }
    }
    &::after {
        content: "";
        display: flex;
        width: 95%;
        height: 0.2rem;
        background: $pink;
        position: absolute;
        right: 0;
        bottom: -0.2rem;
    }
}