<div class="container contact flex-center-column-s">
    <div class="block-contact">
      <img src="../../assets/images/minitel.png" alt="Minitel">
    </div>
    <div class="block-contact">
      <ul class="list-contact-links">
        <li *ngFor="let contactLink of contactLinks">
          <a [href]="contactLink.href" [attr.aria-label]="contactLink.ariaLabel" [attr.target]="contactLink.target" [attr.rel]="contactLink.target === '_blank' ? 'noopener noreferrer' : null">
            <i [class]="contactLink.iconClassNames"></i>
            <span>{{ contactLink.text }}</span>
          </a>
        </li>
      </ul>
    </div>
</div>