<div 
    class="absolute-full-translate-x-y flex flex-col gap-4 bg-blue p-6 block w-[90%] sm:w-fit" 
    [class.pointer-events-none]="!linkIsDisplayed" 
    [class.animation-hidden-forwards-5s]="!linkIsDisplayed"
>
    <p class="reddit-mono text-white text-shadow-chromatic-glitch-strong text-lg">
        <i [class]="iconClassNames" class="mr-2"></i>
        <span [innerHTML]="headerTitle"></span>
    </p>
    <p class="reddit-mono text-white text-shadow-chromatic-glitch-strong text-lg">
        <span [innerHTML]="subtitle"></span>
    </p>
    @if(linkHref || linkText) {
        <div class="flex">
            <a [href]="linkHref" class="flex-1 text-center bg-white text-black p-1 hover:bg-black hover:text-white" title="Retour à la page d'accueil">
                {{ linkText }}
            </a>
        </div>
    }
</div>