@import '../../../../styles/base';

.loader {
    top: 0;
    left: 0;

    .container-loader {
        max-width: 350px;
        padding: 1rem 1.5rem;

        p {
            opacity: 0.65;
            margin-bottom: 0.55rem;
            margin-left: 0.33rem;

            &:nth-child(1) {
                font-size: 1.4rem;
            }

            &:nth-child(2) {
                font-size: 1.05rem;
                margin-bottom: 0.7rem;
            }
        }
    }
}