<div 
    *ngIf="isLoading" 
    class="loader fixed w-screen h-screen flex items-center justify-center bg-body z-40 bg-no-repeat bg-contain bg-center" 
    style="background-image: url('/assets/images/signal-tv-off.jpg');"
    >
    
    <div class="container-loader relative flex flex-col w-full bg-blue">
        <p class="reddit-mono text-shadow-glitch"><i class="fa-solid fa-satellite"></i> Signal perdu...</p>
        <p class="reddit-mono text-shadow-glitch" [class.flash-animation-5s]="isLoading">
            Lecture de "YR_PORTFOLIO_2024"
        </p>
    </div>
</div>