@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/base/container';

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-bg;
    background-image: url(../../../../../public/assets/images/signal-tv-off.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .container-loader {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        background: $blue;
        padding: 1rem 1.5rem;

        p {
            opacity: 0.65;
            margin-bottom: 0.55rem;
            margin-left: 0.33rem;

            &:nth-child(1) {
                font-size: 1.4rem;
            }

            &:nth-child(2) {
                font-size: 1.05rem;
                margin-bottom: 0.7rem;
            }
        }
    }
}