<nav class="container mx-auto h-full flex-center-center">
  <ul class="relative w-full h-full flex items-center">
    @for (anchor of navAnchors; track $index) {
      <li class="flex-center-center h-full flex-1">
        <a 
            class="btn flex-center-center gap-0.5 text-white p-2 no-underline w-fit text-shadow-chromatic-glitch"
            [class]="anchor.classNames"
            [href]="anchor.href" 
            [attr.aria-label]="anchor.ariaLabel" 
            [attr.target]="anchor.target"
            [attr.rel]="anchor.target === '_blank' ? 'noopener noreferrer' : null"
            [title]="anchor.tooltip || ''"
        >
          @if (anchor.iconClassNames) {
            <i [class]="anchor.iconClassNames" aria-hidden="true"></i>
          }
          @if (anchor.text) {
            <span class="ml-2 hidden md:flex" [innerHTML]="anchor.text"></span>
          }
        </a>
      </li>
    }
    @for (btn of navButtons; track $index) {
      <li class="flex-center-center h-full flex-1">
        <button 
            class="btn flex-center-center gap-0.5 text-white p-2 no-underline w-fit text-shadow-chromatic-glitch hover:text-cyan"
            [class]="btn.classNames"
            [attr.aria-label]="btn.ariaLabel" 
            [title]="btn.tooltip || ''"
            (click)="btn.onClick ? btn.onClick() : null"
        >
          @if (btn.iconClassNames) {
            <i [class]="btn.iconClassNames" aria-hidden="true"></i>
          }
          @if (btn.text) {
            <span class="ml-2 hidden md:flex" [innerHTML]="btn.text"></span>
          }
        </button>
      </li>
    }
    @if (userLoggedIn) {
      <li class="flex-center-center h-full flex-1">
        <button (click)="onClickShowUserAccount()" class="btn w-[32px] h-[32px] uppercase text-lg bg-pink-dark border border-pink text-white text-shadow-chromatic-glitch">
          <span [innerHTML]="userNameFirstLetter"></span>
        </button>
      </li>
    }
    @if (!userLoggedIn) {
      <li class="flex-center-center h-full flex-1">
        <a href="/login" class="btn flex-center-center gap-0.5 flex-col text-sm text-white p-2 w-fit text-shadow-chromatic-glitch">
          <i class="fa-regular fa-user" aria-hidden="true"></i>
          <span class="text-xs hidden md:flex">Connexion</span>
        </a>
      </li>
      <li class="flex-center-center h-full flex-1">
        <a href="/register" class="btn flex-center-center gap-0.5 flex-col text-sm text-white p-2 w-fit text-shadow-chromatic-glitch">
          <i class="fa-solid fa-user-plus" aria-hidden="true"></i>
          <span class="text-xs hidden md:flex">Nouveau</span>
        </a>
      </li>
    }
  </ul>
</nav>

<!-- modal-settings -->
<app-modal-settings id="modal-settings"></app-modal-settings>

<!-- modal-user-account -->
<app-modal-user-account id="modal-user-account"></app-modal-user-account>