<nav class="relative h-full flex">
  <!-- menu -->
  <ul class="flex items-center h-full flex-[1_1_15%]">
    <li class="flex-center-center h-full flex-1">
      <button 
        class="btn flex-center-center text-white p-2 no-underline w-fit text-shadow-chromatic-glitch hover:text-cyan text-sm" 
        title="Menu" 
        aria-label="Menu"
        (click)="onClickShowMenu()"
      >
        <i class="fa-solid fa-bars" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
  <!-- nav links -->
  <ul class="flex items-center h-full flex-[1_1_70%]">
    @for (anchor of navAnchors; track $index) {
      <li class="flex-center-center h-full flex-1">
        <a 
            class="btn flex-center-center gap-0.5 text-white p-2 no-underline w-fit text-shadow-chromatic-glitch"
            [class]="anchor.classNames"
            [href]="anchor.href" 
            [attr.aria-label]="anchor.ariaLabel" 
            [attr.target]="anchor.target"
            [attr.rel]="anchor.target === '_blank' ? 'noopener noreferrer' : null"
            [title]="anchor.tooltip || ''"
        >
          @if (anchor.iconClassNames) {
            <i [class]="anchor.iconClassNames" aria-hidden="true"></i>
          }
          @if (anchor.text) {
            <span class="ml-2 hidden md:flex" [innerHTML]="anchor.text"></span>
          }
        </a>
      </li>
    }
    <li class="flex-center-center h-full flex-1">
      <button (click)="onClickShowSettings()" class="btn flex-center-center gap-0.5 text-white p-2 no-underline w-fit text-shadow-chromatic-glitch hover:text-cyan text-sm" title="Paramètres" aria-label="Paramètres">
        <i aria-hidden="true" class="fa-gear fa-solid"></i>
        <span class="ml-2 hidden md:flex">Paramètres</span>
      </button>
    </li>
  </ul>
  <!-- login / register -->
  <ul class="flex items-center h-full flex-[1_1_15%]">
    @if (userLoggedIn) {
      <li class="flex-center-center h-full flex-1">
        <button 
          (click)="onClickShowUserAccount()" 
          class="btn w-[28px] h-[28px] uppercase text-lg bg-pink-dark border border-pink text-white text-shadow-chromatic-glitch hover:bg-pink"
          title="Compte utilisateur de {{ userName }}"
        >
          <span [innerHTML]="userNameFirstLetter"></span>
        </button>
      </li>
    }
    @if (!userLoggedIn) {
      <li class="flex-center-center h-full flex-1 gap-1">
        <a 
          href="/login" 
          class="btn flex-center-center gap-0.5 flex-col text-white p-2 w-fit text-shadow-chromatic-glitch"
          title="Se connecter"
          (click)="onClickLoginRegister()"
        >
          <i class="fa-regular fa-user text-[0.7rem]" aria-hidden="true"></i>
          <span class="text-[0.65rem] hidden md:flex">Connexion</span>
        </a>
        <div>|</div>
        <a 
          href="/register" 
          class="btn flex-center-center gap-0.5 flex-col text-white p-2 w-fit text-shadow-chromatic-glitch"
          title="Créer un compte"
          (click)="onClickLoginRegister()"
        >
          <i class="fa-solid fa-user-plus text-[0.7rem]" aria-hidden="true"></i>
          <span class="text-[0.65rem] hidden md:flex">Nouveau</span>
        </a>
      </li>
    }
  </ul>
</nav>