<div class="container">
    <form class="form-contact relative flex flex-col gap-10" [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()">
        <!-- Identité -->
        <fieldset>
            <legend class="text-shadow-chromatic-glitch mb-6 text-2xl font-light border-b-2 border-cyan w-full">Identité</legend>
            <div class="relative flex flex-col gap-4">
                <div class="flex flex-col gap-10 md:flex-row">
                    <div class="relative flex flex-col flex-1">
                        <label class="relative mb-1 font-medium" for="input-lastName">Nom<sup>*</sup></label>
                        <input class="text-black p-2 outline-4 focus:outline-cyan" id="input-lastName" name="lastName" type="text" autocomplete="off" placeholder="Martin" tabindex="1" formControlName="lastName"
                        [ngClass]="{'outline-pink-important': contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched}"
                        >
                        @if(contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched) {
                            <div class="absolute right-0 text-pink">
                                @if(contactForm.get('lastName')?.errors?.['required']) {
                                    <small>Information requise</small>
                                }
                            </div>
                        }
                    </div>
                    <div class="relative flex flex-col flex-1">
                        <label class="relative mb-1 font-medium" for="input-firstName">Prénom<sup>*</sup></label>
                        <input class="text-black p-2 outline-4 focus:outline-cyan" id="input-firstName" name="firstName" type="text" autocomplete="off" placeholder="Julie" tabindex="2" formControlName="firstName"
                        [ngClass]="{'outline-pink-important': contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched}"
                        >
                        @if(contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched) {
                            <div class="absolute right-0 text-pink">
                                @if(contactForm.get('firstName')?.errors?.['required']) {
                                    <small>Information requise</small>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="flex flex-col gap-10 md:flex-row">
                    <div class="relative flex flex-col flex-1">
                        <label class="relative mb-1 font-medium" for="input-email">E-mail<sup>*</sup></label>
                        <input class="text-black p-2 outline-4 focus:outline-cyan" id="input-email" name="email" type="mail" autocomplete="off" placeholder="julie.martin@gmail.com" tabindex="3" formControlName="email"
                        [ngClass]="{'outline-pink-important': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}"
                        >
                        @if(contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                            <div class="absolute right-0 text-pink">
                                @if(contactForm.get('email')?.errors?.['required']) {
                                    <small>Information requise</small>
                                }
                                @if(contactForm.get('email')?.errors?.['email']) {
                                    <small>Le format est invalide</small>
                                }
                            </div>
                        }
                    </div>
                    <div class="relative flex flex-col flex-1">
                        <label class="relative mb-1 font-medium" for="input-tel">Téléphone<sup>*</sup></label>
                        <input class="text-black p-2 outline-4 focus:outline-cyan" id="input-tel" name="tel" type="tel" autocomplete="off" placeholder="06 01 02 03 04" tabindex="4" formControlName="tel"
                        [ngClass]="{'outline-pink-important': contactForm.get('tel')?.invalid && contactForm.get('tel')?.touched}"
                        >
                        @if(contactForm.get('tel')?.invalid && contactForm.get('tel')?.touched) {
                            <div class="absolute right-0 text-pink">
                                @if(contactForm.get('tel')?.errors?.['required']) {
                                    <small>Information requise</small>
                                }
                                @if(contactForm.get('tel')?.errors?.['pattern']) {
                                    <small>Le format est invalide</small>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Entreprise -->
        <fieldset>
            <legend class="text-shadow-chromatic-glitch mb-6 text-2xl font-light border-b border-cyan w-full">Entreprise</legend>
                <div class="relative flex flex-col gap-4">
                    <div class="relative flex flex-col gap-4">
                        <div class="flex flex-col gap-10 md:flex-row">
                            <div class="relative flex flex-col flex-1">
                                <label class="relative mb-1 font-medium" for="input-compagny-name">Dénomination<sup>*</sup></label>
                                <input class="text-black p-2 outline-4 focus:outline-cyan" id="input-compagny-name" name="compagny-name" type="text" autocomplete="off" placeholder="Carrefour" tabindex="5" formControlName="compagnyName"
                                [ngClass]="{'outline-pink-important': contactForm.get('compagnyName')?.invalid && contactForm.get('compagnyName')?.touched}"
                                >
                                @if(contactForm.get('compagnyName')?.invalid && contactForm.get('compagnyName')?.touched) {
                                    <div class="absolute right-0 text-pink">
                                        @if(contactForm.get('compagnyName')?.errors?.['required']) {
                                            <small>Information requise</small>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="relative flex flex-col flex-1">
                                <label class="relative mb-1 font-medium" for="input-compagny-post">Rôle dans l'entreprise</label>
                                <input class="text-black p-2 outline-4 focus:outline-cyan" id="input-compagny-post" name="compagny-post" type="text" autocomplete="off" placeholder="Chargé(e) de recrutement" tabindex="6" formControlName="compagnyPost">
                            </div>
                        </div>
                    </div>
                    <div class="relative flex flex-col">
                        <div class="flex flex-col gap-10 md:flex-row">
                            <div class="relative flex flex-col flex-1">
                                <label class="relative mb-1 font-medium" for="dropdown-compagny-location">Localisation</label>
                                <select class="text-black p-2 outline-4 focus:outline-cyan" id="dropdown-compagny-location" name="compagny-location" tabindex="7" formControlName="compagnyLocation">
                                    <ng-container *ngFor="let region of locationsFr | keyvalue">
                                    <optgroup [label]="region.key">
                                        @for (department of region.value; track $index) {
                                            <option [value]="department.code">{{ department.nom }}</option>
                                        }
                                    </optgroup>
                                    </ng-container>
                                </select>
                                @if(showLocationGif) {
                                    <img class="absolute w-[2rem] left-[-5%] bottom-[4%]" src="assets/gif/heart-love.gif" alt="Bon choix">
                                }
                            </div>
                            <div class="relative flex flex-col flex-1"></div>
                        </div>
                    </div>
                </div>
        </fieldset>
        <!-- Message -->
        <fieldset>
            <legend class="text-shadow-chromatic-glitch mb-6 text-2xl font-light border-b border-cyan w-full">Message</legend>
            <div class="relative flex">
                <textarea class="text-black p-2 resize-none w-full focus:outline-cyan" id="textarea-message" name="contact-message" placeholder="Bonjour, pouvez-vous me recontacter..." tabindex="8" formControlName="message"></textarea>
            </div>
        </fieldset>
        <!-- submit -->
        <div class="container-submit flex-center-center mt-6">
            <button class="btn btn-submit flex-center-center w-[150px] p-2 border-2 border-cyan" tabindex="9" type="submit">
                @if(sendIsPending) {
                    <span class="loader-packman"></span>
                }
                @if(!sendIsPending) {
                    <span>Envoyer</span>
                }
            </button>
        </div>
    </form>

    <!-- popins -->
    <app-popin  id="popin-form-sent-success" position="fixed" img="mail" headerTitle="Demande de contact" text="Le mail a bien été transmis. Merci !"></app-popin>
    <app-popin id="popin-form-sent-error" position="fixed" img="error" headerTitle="Demande de contact" text="Aïe... Il y a eu une erreur lors de l'envoi du mail..."></app-popin>

</div>