@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

// .h1 {
//     display: flex;
//     flex-direction: column;

//     span {
//         position: relative;

//         &:nth-child(1) {
//             font-size: 2.2rem;
//             text-shadow: $shadow-cyan-3d;
//             font-style: italic;
//             margin-bottom: -1rem;
//             margin-left: 0.85rem;
//             animation: neon-glitch-anim 10s linear infinite;

//             @keyframes neon-glitch-anim {
//                 0% {
//                     text-shadow: $shadow-cyan-3d;
//                 }

//                 90% {
//                     text-shadow: $shadow-cyan-3d;
//                 }

//                 94% {
//                     text-shadow: $shadow-black-3d;
//                 }

//                 97% {
//                     text-shadow: $shadow-cyan-3d;
//                 }

//                 100% {
//                     text-shadow: $shadow-black-3d;
//                 }
//             }

//             @include screen('s') {
//                 font-size: 3.2rem;
//                 margin-bottom: -2.5rem;
//             }
//         }

//         &:nth-child(2) {
//             margin-bottom: -2rem;

//             @include screen('s') {
//                 margin-bottom: -4rem;
//             }
//         }

//         &:nth-child(2),
//         &:nth-child(3) {
//             font-size: 5rem;
//             text-shadow: $shadow-pink;

//             @include screen('s') {
//                 font-size: 8rem;
//             }
//         }

//         &:nth-child(3) {
//             margin-left: 1rem;
//             margin-bottom: -1rem;

//             @include screen('s') {
//                 margin-bottom: -2rem;
//             }
//         }

//         &:nth-child(4) {
//             font-size: 1.75rem;
//             text-shadow: $shadow-cyan-3d;
//             font-style: italic;
//             text-align: right;
//             margin-right: 1rem;
//             animation: neon-glitch2-anim 20s linear infinite;

//             @keyframes neon-glitch2-anim {
//                 0% {
//                     text-shadow: $shadow-cyan-3d;
//                 }

//                 90% {
//                     text-shadow: $shadow-cyan-3d;
//                 }

//                 92% {
//                     text-shadow: $shadow-black-3d;
//                 }

//                 100% {
//                     text-shadow: $shadow-black-3d;
//                 }
//             }

//             @include screen('s') {
//                 font-size: 2.5rem;
//             }
//         }
//     }
// }

.h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    span {
        &:nth-child(1) {
            text-transform: uppercase;
            font-size: 22vw;
            background: linear-gradient(
            $pink3 15%,
            $pink2 25%,
            $pink 35%,
            hsl(100, 70%, 80%) 45%,
            hsl(60, 100%, 98%) 50%,
            $white 100%);
            -webkit-text-stroke: 1px $white;
            color: transparent;
            background-clip: text;
            filter: drop-shadow(1px 3px 0px $white) drop-shadow(1px 3px 0px $cyan) drop-shadow(1px 3px 0px $cyan2) drop-shadow(1px 3px 0px $cyan3) drop-shadow(1px 3px 0px $cyan2) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));

            @include screen('s') {
                font-size: 10vw;
            }
        }

        &:nth-child(2) {
            position: absolute;
            font-size: 20vw;
            bottom: -30%;
            right: 0;
            transform: rotate(-12deg);
            color: $pink;
            text-transform: capitalize;
            filter: brightness(120%);
            text-shadow: $shadow-pink-milk;

            @include screen('s') {
                font-size: 9vw;
                bottom: -50%;
            }
        }
    }
}