<div class="relative w-full h-full flex p-4">

    <div class="relative h-full flex flex-[1_1_10%]">
        <nav>
            <ul class="group h-full p-4 flex flex-col gap-6 bg-black text-white rounded-lg">
                <li class="flex justify-center">
                    <button class="w-8 h-8 bg-red rounded-full">Y</button>
                </li>
                <li>
                    <button 
                        class="w-full px-3 py-1 flex items-center justify-center bg-white-transparent-1 rounded-lg group-hover:justify-start hover:bg-blue" 
                        [class.bg-blue]="activeIndex === 0" (click)="setActive(0)"
                        role="button"
                    >
                        <i class="fa-solid fa-plus" style="line-height: 34px;" aria-hidden="true"></i>
                        <span class="ml-2 hidden group-hover:flex">Revenus</span>
                    </button>
                </li>
                <li>
                    <button 
                        class="w-full px-3 py-1 flex items-center justify-center bg-white-transparent-1 rounded-lg group-hover:justify-start hover:bg-blue" 
                        [class.bg-blue]="activeIndex === 1" (click)="setActive(1)"
                        role="button"
                    >
                        <i class="fa-solid fa-minus" style="line-height: 34px;" aria-hidden="true"></i>
                        <span class="ml-2 hidden group-hover:flex">Dépenses</span>
                    </button>
                </li>
                <li>
                    <button 
                        class="w-full px-3 py-1 flex items-center justify-center bg-white-transparent-1 rounded-lg group-hover:justify-start hover:bg-blue" 
                        [class.bg-blue]="activeIndex === 2" (click)="setActive(2)"
                        role="button"
                    >
                        <i class="fa-solid fa-diagram-project" style="line-height: 34px;" aria-hidden="true"></i>
                        <span class="ml-2 hidden group-hover:flex">Projets</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="relative h-full flex-[1_1_90%]">

    </div>

</div>