.container-arcade-promotion {
    position: relative;
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
    max-width: 740px;
    height: 13rem;

    @include screen('s') {
        margin-top: 6rem;
        height: 30rem;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(../../assets/images/arcade-promotion.jpg);
        transition: 0.15s ease-in-out;

        &:hover {
            filter: brightness(115%);
        }
    }
}