$gap-marquee: 0.75rem;

.marquee {  
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: $gap-marquee;
  background: $black;
  padding: 2rem 0;

  ul {
    position: relative;
    list-style: none;
    flex-shrink: 0;
    display: flex;
    gap: $gap-marquee;
    min-width: 100%;
    height: 220px;
    animation: marquee-anim 24s linear infinite;
    @keyframes marquee-anim {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - $gap-marquee));
      }
    }

    @include screen('s') {
      height: 270px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 14px;
      width: 100%;
      display: block;
      background: $black;
      background-image: repeating-linear-gradient(90deg, $white 0, $white 12px, $black 12px, $black 25px);
    }

    &::before {
      top: -24px;
    }

    &::after {
      bottom: -24px;
    }

    li {
      position: relative;
      display: flex;

      img {
        border-radius: 1rem;
        filter: grayscale(0.4) contrast(0.75);
      }
    }
  }
}
  