.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.2;
    background-color: $pink;
    pointer-events: none;
    background-image: url(../../assets/images/tv-no-signal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color;
    box-shadow: inset 0px 0px 37px 15px rgba(243, 243, 243, 0.7);
}