.video-game-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: $body-bg;
    pointer-events: none;
    opacity: 0;

    &.active {
        pointer-events: all;
        opacity: 1;
    }

    .content {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url(../../assets/images/background-video-game.jpg);
        background-position: center;

        .content-main-menu {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
            .container-title {
                p, h3 {
                    line-height: 2.8rem;
                }
        
                p {
                    text-align: center;
                    font-size: 1.8rem;
                    color: $yellow;
                }
        
                h3 {
                    font-size: 7rem;
                    transform: rotateX(60deg);
                    transform-origin: bottom;
                    text-shadow: 0 13px 0 #E79C10, 0 -13px 0 #D53A33, 0 8px 8px rgba(0, 0, 0, 0.5);
                }
            }

            .container-btn {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                [data-btn-action] {
                    background: $orange;
                    padding: 0.65rem 1.5rem;
                    transition: 0.1s ease-in-out;
        
                    &:hover {
                        filter: brightness(120%);
                    }
                    
                    span {
                        text-transform: uppercase;
                        color: $white;
                        font-size: 2rem;
                    }
                }
            }
    
            .container-footer {
                p {
                    font-size: 1.4rem;
                    color: $yellow;
    
                    i {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}