<div class="game-background">
    <div class="container grid-game">
        <div class="header-game">
            <div class="block-header-game">
                <button class="btn" aria-label="Quitter" (click)="onClickQuitGame()">
                    <span class="jersey-15-regular">Quitter</span>
                </button>
            </div>
            <div class="block-header-game">
                <div class="container container-health-bar">
                    <p class="jersey-15-regular">PV</p>
                    <div class="health-bar">
                        <div class="health" [style.width]="health + '%'"></div>
                    </div>
                </div>
            </div>
            <div class="block-header-game">
                <p class="jersey-15-regular">Score&nbsp;: <span class="score">{{ score }}</span></p>
                <p class="jersey-15-regular">High&nbsp;Score&nbsp;: <span class="high-score">{{ highScore }}</span></p>
            </div>
        </div>
        <div class="content-game">
            <div #gameContainer class="container game-container cursor-none" (mousemove)="onMouseMoveIntoGameContainer($event)">
                <p *ngIf="!mouseIsMovingOnce" class="move-to-start jersey-15-regular flash-animation cursor-none">
                    <span>Déplacez la souris</span>
                    <i class="fa-solid fa-computer-mouse" aria-hidden="true"></i>
                </p>
                <div #gameCursor class="game-cursor cursor-none" [class]="isInGameContainer ? 'can-be-hitted' : null">
                    <div #collisionBox class="collision-box cursor-none" [class]="collisionBoxIsHitted ? 'hitted-animation' : null"></div>
                </div>
            </div>
        </div>
    </div>
</div>