<div class="game-background">
    <div class="container grid-game">
        <div class="block-header">
            <button class="btn" data-btn-action="back-to-arcade-menu" data-title-popin="Retour au menu principal" aria-label="Retour au menu principal">
                <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
                <span class="jersey-15-regular">Menu principal</span>
            </button>
            <div class="container-health-bar">
                <p class="jersey-15-regular">PV</p>
                <div class="health-bar" [style.width]="health + '%'"></div>
            </div>
            <div class="container-score">
                <p class="jersey-15-regular">Score&nbsp;: <span class="score">{{ score }}</span></p>
                <p class="jersey-15-regular">High&nbsp;Score&nbsp;: <span class="high-score">{{ highScore }}</span></p>
            </div>
        </div>
        <div class="block-content">
            <div class="container game">
                <p *ngIf="mouseIsMoving" class="move-to-start flash-animation">
                    <span>Déplacez la souris</span>
                    <i class="fa-solid fa-computer-mouse" aria-hidden="true"></i>
                </p>
                <img class="meteor meteor-falling-animation-1" src="assets/images/meteor.png"/>
                <img class="meteor meteor-falling-animation-2" src="assets/images/meteor.png"/>
                <img class="meteor meteor-falling-animation-3" src="assets/images/meteor.png"/>
                <img class="meteor meteor-falling-animation-4" src="assets/images/meteor.png"/>
                <img class="meteor meteor-falling-animation-5" src="assets/images/meteor.png"/>
                <div class="game-cursor">
                    <div class="collision-box" [class]="collisionBoxIsHitted ? 'hitted-animation' : null"></div>
                </div>
            </div>
        </div>
    </div>
</div>