.btn {
    border: none;
    background: none;

    &>* {
        pointer-events: none;
    }
}

.text-shadow-glitch {
    text-shadow: 2px 3px 2px $black, 5px -3px 2px rgba(255, 52, 52, 0.6), 6px -5px 2px rgba(52, 255, 120, 0.6);
}

.text-shadow-glitch-2 {
    text-shadow: 2px 3px 2px $black, 4px -3px 2px rgba(255, 52, 52, 0.3), 5px -5px 2px rgba(52, 255, 120, 0.3);
}

.display-none {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.display-block-s {
    display: block;
                    
    @include screen('s') {
        display: none;
    }
}

.hidden-block-s {
    display: none;
                    
    @include screen('s') {
        display: block;
    }
}