@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.list-nav {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex: 1;

        a {
            text-decoration: none;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            padding: .5rem;

            i {
                margin-right: 0;
                font-size: 1.3rem;

                @include screen('s') {
                    font-size: 1rem;
                    margin-right: .5rem;
                }
            }

            span {
                letter-spacing: -2.5px;
            }

            &.link-large {
                i {
                    margin-right: 0 !important;
                    font-size: 1.3rem !important;
                }
            }
        }
    }
}