@import '../../../../styles/base';

.list-nav {
    list-style: none;
    height: 100%;

    li {
        height: 100%;
        flex: 1;

        a, 
        button {
            text-decoration: none;
            width: fit-content;
            font-size: 1.1rem;
            padding: .5rem;

            color: $white;

            &:hover {
                color: $cyan;
            }

            i {
                font-size: 1.3rem;

                @include screen('s') {
                    font-size: 1rem;
                }
            }

            span {
                margin-left: .5rem;
                letter-spacing: -2.5px;
            }

            &.large {
                i {
                    font-size: 1.3rem !important;
                }
            }
        }
    }
}