@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

$nav-height: 3.5rem;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: $nav-height;
    background: $body-bg;
    border-bottom: 1px solid;
    border-color: $cyan;

    @include screen('s') {
        border-color: transparent;
    }
    
    &.border-active {
        border-color: $cyan;
    }
}