<nav class="container container_medium nav">
    <ul class="container list-nav">
      <li *ngFor="let link of navLinks">
        <a 
          [href]="link.href" 
          [attr.aria-label]="link.ariaLabel" 
          [class]="link.classNames || null"
          [attr.target]="link.target || null"
        >
          <i *ngIf="link.iconClassNames" [class]="link.iconClassNames" aria-label="hidden"></i>
          <span *ngIf="link.html" class="hidden-flex-s">{{ link.html }}</span>
        </a>
      </li>
    </ul>
</nav>