<nav class="container container_medium nav" [class]="scrollTopPosition > 0 ? 'border-active' : null">
    <ul class="container list-nav">
      <li *ngFor="let link of navLinks">
        <a 
          [href]="link.href" 
          [attr.aria-label]="link.ariaLabel" 
          [class]="link.classNames"
          [attr.target]="link.target"
          [attr.rel]="link.target === '_blank' ? 'noopener noreferrer' : null"
        >
          <i *ngIf="link.iconClassNames" [class]="link.iconClassNames" aria-label="hidden"></i>
          <span *ngIf="link.html" class="hidden-flex-s">{{ link.html }}</span>
        </a>
      </li>
    </ul>
</nav>