@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

$nav-height: 3.5rem;

.nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: $nav-height;
    background: $body-bg;
    border-bottom: 1px solid;
    border-color: $cyan;

    @include screen('s') {
        border-color: transparent;
    }
    
    &.border-active {
        border-color: $cyan;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex: 1;

            a {
                text-decoration: none;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.7rem;
                font-weight: 700;

                i {
                    margin-right: 0;
                    font-size: 1.3rem;

                    @include screen('s') {
                        font-size: 1rem;
                        margin-right: .5rem;
                    }
                }

                &.link-large {
                    i {
                        margin-right: 0 !important;
                        font-size: 1.3rem !important;
                    }
                }
            }
        }
    }
}