<div class="fixed-backdrop-full flex-center-center p-4">
    <div class="relative w-full flex flex-col bg-grey border-4 border-grey text-grey-dark shadow-black-transparent-dark md:max-w-[570px]">
        <!-- header -->
        <header class="flex-center-start bg-blue-dark p-1">
            <div class="flex items-center pl-1">
                <i class="fa-solid fa-arrow-right-from-bracket text-white mr-2" aria-hidden="true"></i>
                <p class="text-white">Se connecter</p>
            </div>
        </header>
        <!-- content -->
        <div class="p-4 flex flex-col gap-4">
            <div class="flex justify-between gap-3">
                <div>
                    @if(!errorLogin) {
                        <img class="w-[70px] h-[70px]" src="assets/images/icon-login.png" alt="Connexion">
                    }
                    @if(errorLogin) {
                        <img class="w-[110px]" src="assets/gif/magic-word.gif" alt="Magic Word">   
                    }
                </div>
                <div class="flex items-center">
                    <p class="text-xs">Saisissez votre e-mail et votre mot de passe.</p>
                </div>
                <div class="flex flex-col gap-1">
                    <button class="btn retro-windows-border-activable p-1 px-4 text-sm text-black font-medium" (click)="onClickSubmitLoginForm()">OK</button>
                    <a 
                        href="" 
                        class="btn retro-windows-border-activable p-1 px-4 text-sm text-black font-medium hover:text-black" 
                        title="Retour à la page d'accueil"
                        (click)="onClickCancel()"
                    >
                        Annuler
                    </a>
                </div>
            </div>
            <div class="flex justify-center">
                <form class="relative" [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                    <ul>
                        <li class="flex items-center mb-2">
                            <label class="text-sm mr-1 flex-[1_1_40%] text-right" for="email"><span class="underline">A</span>dresse mail:</label>
                            <input class="retro-windows-input-border pl-1 flex-[1_1_60%] mr-3" id="email" type="text" formControlName="email"
                            [class.outline-pink-important]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                        </li>
                        <li class="flex items-center mb-2">
                            <label class="text-sm mr-1 flex-[1_1_40%] text-right" for="password"><span class="underline">M</span>ot de passe:</label>
                            <input class="retro-windows-input-border pl-1 flex-[1_1_60%] mr-3" id="password" type="password" formControlName="password"
                            [class.outline-pink-important]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <!-- footer -->
        <footer class="p-4 flex-center-center">
            <button class="btn retro-windows-border-activable p-1 px-8 text-sm text-black font-medium flex-center-center flex-col gap-2" (click)="onClickLoginWithGoogle()">
                <span class="text-xs">Se connecter avec</span>
                <img class="w-[100px]" src="assets/images/logo-google-pixel.png" alt="Google">
            </button>
        </footer>
    </div>
</div>