.retro-windows-border-activable {
    border: 2px solid;
    border-top-color: $white2;
    border-left-color: $white2;
    border-right-color: $black2;
    border-bottom-color: $black2;

    &:active {
        border-top-color: $black2;
        border-left-color: $black2;
        border-right-color: $white2;
        border-bottom-color: $white2;
    }
}

.retro-windows-border {
    border: 2px solid;
    border-top-color: $white2;
    border-left-color: $white2;
    border-right-color: $black2;
    border-bottom-color: $black2;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }
}

.cursor-none {
    &>* {
        cursor: none;
    }
}

.user-select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-center-column-s {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen('s') {
        flex-direction: row;
    }
}

.hr-pink {
    border-color: $pink;
}

.hr-cyan {
    border-color: $cyan;
}

.overflow-x-auto-s {
    margin: -4rem 0;
    padding: 5rem 0;
    overflow-x: auto;

    @include screen('s') {
        overflow: hidden;
    }
}

.loader-packman {
    width: 150px;
    height: 24px;
    padding: 2px 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    animation: l5-0 3s infinite steps(6);
    @keyframes l5-0 {
        100% {
            background-size: 120% 100%, 20% 100%
        }
    }

    &::before {
        content: "";
        width: 20px;
        transform: translate(-100%);
        border-radius: 50%;
        background: $white;
        animation: l5-1 .25s .153s infinite steps(5) alternate, l5-2 3s infinite linear;
        @keyframes l5-1 {
            0% {
                clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%)
            }

            100% {
                clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%)
            }
        }

        @keyframes l5-2 {
            100% {
                transform: translate(150px)
            }
        }
    }
}

.display-block {
    display: block !important;
}

.display-none {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.display-block-s {
    display: block;
                    
    @include screen('s') {
        display: none;
    }
}

.hidden-block-s {
    display: none;
                    
    @include screen('s') {
        display: block;
    }
}

.display-flex-s {
    display: flex;
                    
    @include screen('s') {
        display: none;
    }
}

.hidden-flex-s {
    display: none;
                    
    @include screen('s') {
        display: flex;
    }
}