$body-bg: hsl(249, 88%, 5%);
$body-bg2: hsl(249, 88%, 0%);
$body-bg-transparent: hsla(249, 87%, 3%, 0.5);
$body-color: hsl(0, 0%, 100%);

$white: hsl(0, 0%, 100%);
$white2: hsl(300, 37%, 96%);
$black: hsl(0, 0%, 13%);
$black2: #0a090a;
$black-transparent: hsla(0, 0%, 0%, 0.3);
$black-transparent2: hsla(0, 0%, 0%, 0.75);
$grey: hsl(210, 7%, 78%);
$grey2: hsl(300, 3%, 26%);
$red: hsl(358, 75%, 55%);
$red2: hsl(358, 75%, 25%);
$black-light: #3a3a3a;
$blue: hsl(234, 100%, 50%);
$blue2: hsl(240, 100%, 25%);
$blue-dark: #040114;
$cyan: hsl(172, 85%, 49%);
$cyan2: hsl(170, 79%, 33%);
$cyan3: hsl(170, 79%, 20%);
$pink: hsl(330, 72%, 69%);
$pink2: hsl(330, 72%, 25%);
$pink3: hsl(330, 72%, 15%);
$pink-light: hsla(330, 72%, 58%, 0.3);
$pink2-light: hsla(323, 72%, 37%, 0.3);
$orange: hsl(18, 81%, 54%);
$orange2:hsl(18, 81%, 25%);
$yellow: hsl(53, 87%, 53%);
$yellow2: hsl(53, 87%, 30%);
$green: hsl(89, 73%, 54%);

$breakpoints: (
  'xxs':  280px,
  'xs':  370px,
  's':  678px,
  'm': 768px,
  'l':  1025px,
  'xl': 1281px,
  'xxl': 1440px,
  'mega': 1800px,
);