<nav class="container container_medium nav">
    <ul class="list-nav">
      <li *ngFor="let link of navLinks">
        <a 
          [href]="link.href" 
          [attr.aria-label]="link.ariaLabel" 
          [class]="link.classNames || null"
          [attr.target]="link.target || null"
        >
          <i *ngIf="link.iconClassNames" [class]="link.iconClassNames" aria-label="hidden"></i>
          <span *ngIf="link.html" class="hidden-flex-s">{{ link.html }}</span>
        </a>
      </li>
    </ul>
    <button class="btn" data-btn-action="reduce-main-nav" data-title-popin="Masquer le menu" aria-label="Afficher / Masquer la navigation">
      <i class="fa-solid fa-chevron-up fa-icon" aria-hidden="true"></i>
    </button>
</nav>