@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.ads-poster {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 740px;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include screen('s') {
        margin-top: 6rem;
        height: 30rem;
    }
}