<app-modal id="modal-settings" classNames="modal-settings" titleText="Paramètres">
    <div class="custom-content">
        <ul class="list-none">
            <li class="flex items-center justify-between">
                <label for="toggle-vhs-effect" class="text-grey-dark">Afficher l'effet VHS&nbsp;:</label>
                <app-toggle-switch id="toggle-vhs-effect" (change)="toggleVhsEffect()"></app-toggle-switch>
            </li>
            <li class="flex items-center justify-between">
                <label for="toggle-test" class="text-grey-dark">Afficher test&nbsp;:</label>
                <app-toggle-switch id="toggle-test" (change)="toggleTest()"></app-toggle-switch>
            </li>
        </ul>
    </div>
</app-modal>