<div class="flex flex-col gap-6 md:flex-row">
    <div class="flex-center-center flex-col flex-1">
      <canvas #earthGlobe class="w-100-important"></canvas>
    </div>
    <div class="flex-center-center flex-col flex-1">
      <div class="w-fit md:w-full">
        <h3 class="flex items-center text-white text-shadow-retro-computer-green mb-4 animation-fade-infinite text-xl md:text-2xl">
          <i class="fa-solid fa-globe mr-3"></i> 
          <span>Recherche en cours...</span>
        </h3>
        <ul class="list-none">
          @for (location of locationList; track $index) {
            <li class="mb-2">
              <p class="text-white text-shadow-retro-computer-green text-lg">
                <i class="mr-3" [class]="location.iconClassNames" aria-hidden="true"></i>
                <span class="key" [innerHTML]="location.key + '&nbsp;:&nbsp;'"></span>
                <span class="value" [innerHTML]="location.value"></span>
              </p>
            </li>
          }
          <li>
            <p class="text-shadow-retro-computer-red text-lg">
              <i class="fa-solid fa-xmark mr-3" aria-hidden="true"></i>
              <span class="key">Ville&nbsp;:&nbsp;</span>
              <span #typedText id="typed-text-value" class="value"></span>
            </p>
          </li>
        </ul>
      </div>
    </div>
</div>  