@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.location {
    gap: 2rem;

    @include screen('s') {
        gap: 0;
    }

    .block-location {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include screen('s') {
            align-items: inherit;
        }

        .canvas-earth-globe {
            width: 100% !important;
    
            @include screen('s') {
                width: 500px !important;
            }
        }

        .container-location-list{
            h3, p {
                color: $white;
                text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
            }
    
            h3 {
                text-transform: uppercase;
                font-size: 1.1rem;
                margin-bottom: 1.5rem;
                animation: h3-anim 1s linear infinite;
                @keyframes h3-anim {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
    
                @include screen('s') {
                    font-size: 1.3rem;
                    margin-bottom: 1.8rem;
                }
            }

            .location-list {
                list-style: none;

                li {
                    margin-bottom: .5rem;

                    @include screen('s') {
                        margin-bottom: 0.7rem;
                    }

                    p {
                        font-size: 0.8rem;

                        @include screen('s') {
                            font-size: 1rem;
                        }

                        i {
                            margin-right: .5rem;
                        }
            
                        span {
                            &.key {
                                font-weight: 700;
                            }
                            &.value {
                                font-weight: 300;
                            }
                        }
                    }

                    &:last-child {
                        p {
                            text-shadow: 0 0 3px #ff8080, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
                        }
                    }
                }
            }
        }
    }
}