<div class="container arcade-room">
    <h3 class="silkscreen-regular">
      <span data-text="LAUNCHER">LAUNCHER</span>
      <span data-text="2000">2000</span>
    </h3>
    <div class="insert-coins flash-animation">
      <img src="../../assets/images/coin-video-games.png" alt="Pièce de monnaie" aria-hidden="true">
      <span class="silkscreen-regular">INSERT COINS</span>
    </div>
    <button class="btn" aria-label="Cliquez pour jouer" (click)="onClickShowGame()">
      <span class="silkscreen-regular">PRESS TO PLAY</span>
    </button>
    <!-- GameComponent -->
    <app-game *ngIf="gameIsVisible"></app-game>
</div>