<div class="relative">
    <div class="relative flex flex-col bg-grey border-4 border-grey shadow-black-transparent-dark">
        <!-- header -->
        <header class="flex items-center justify-between p-1 bg-blue-dark">
            <div class="flex items-center pl-2">
                <i class="fa-solid fa-computer text-white mr-2 text-sm md:text-base" aria-hidden="true"></i>
                <p class="text-white text-sm md:text-base">Propriétés des réalisations notables</p>
            </div>
            <div class="flex gap-1">
                <button class="btn bg-grey w-[24px] h-[24px] text-grey-dark retro-windows-border-activable leading-4" (click)="showPopin('popin-need-help')">
                    <i class="fa-solid fa-question" aria-hidden="true"></i>
                </button>
                <button class="btn bg-grey w-[24px] h-[24px] text-grey-dark retro-windows-border-activable leading-4" (click)="showPopin('popin-try-quit')">
                    <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                </button>
            </div>
        </header>
        <!-- content -->
        <div class="m-5 text-black">
            <div class="mb-[-3px]">
                <!-- btn tabs -->
                @for (achievement of achievements; track $index) {
                    <button 
                        class="btn retro-windows-border p-1.33 px-2.5 border-b-0-important text-sm font-medium" 
                        [class.btn-tabs-active]="activeIndex === $index" (click)="setActive($index)">
                        {{ achievement.tab.text }}
                    </button>
                }
            </div>
            @for (achievement of achievements; track $index) {
                <div class="flex retro-windows-border h-[50vh]" [class.hidden]="activeIndex !== $index">
                    <div class="flex-center-center p-6 flex-[1_1_40%]">
                        <img class="w-[55%]" [src]="achievement.img.path" [alt]="achievement.img.path">
                    </div>
                    <div class="flex flex-col p-6 column_details flex-[1_1_60%]">
                        <div class="container-details h-full overflow-y-auto">
                            @for (blockDetail of achievement.properties; track $index; let last = $last;) {
                                <div [class.mb-6]="!$last">
                                <p class="mb-2 text-base">{{ blockDetail.title }}</p>
                                <ul class="ml-10 list-disc">
                                    @for (text of blockDetail.list; track $index;) {
                                        <li class="font-medium">
                                            <p>{{ text }}</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- footer -->
        <footer class="flex justify-end p-4">
            <div class="flex gap-1">
                <button class="btn retro-windows-border-activable p-2 px-8 text-black font-medium" (click)="onClickPrev()">Précédent</button>
                <button class="btn retro-windows-border-activable p-2 px-8 text-black font-medium" (click)="onClickNext()">Suivant</button>
            </div>
        </footer>
    </div>
    
    <!-- popins -->
    <app-popin id="popin-need-help" img="help" headerTitle="Erreur 34_0201" text="L'aide n'est pas disponible pour le moment..."></app-popin>
    <app-popin id="popin-try-quit" img="error" headerTitle="Erreur 37_100" text="Vous ne pouvez pas faire ça pour le moment..."></app-popin>

</div>