@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.advertisement {
    margin: 0 auto;
    margin-top: 3rem;
    max-width: 740px;
    height: 13rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../../../../public/assets/images/advertisement.jpg);

    @include screen('s') {
        margin-top: 6rem;
        height: 30rem;
    }
}