<div class="vhs-effect">
    <div class="vhs-effect-background">
        <div class="chromatic-aberration-animation top"></div>
        <div class="chromatic-aberration-animation bottom"></div>
        <div class="glitch-line-animation" style="height: 1px;animation-delay: 2s;"></div>
        <div class="glitch-line-animation" style="height: 3px;animation-delay: 5s;"></div>
        <div class="glitch-line-animation" style="height: 1px;animation-delay: 15s;"></div>
        <div class="glitch-line-animation" style="height: 5px;animation-delay: 17s;"></div>
        <div class="glitch-line-animation" style="height: 2px;animation-delay: 23s;"></div>
    </div>
    <div class="footer" [class.flash-animation]="isFlashing">
        <div class="timer reddit-mono text-shadow-glitch">00:00:00</div>
        <div class="container-play text-shadow-glitch">
            <p class="reddit-mono">Play</p>
            <i class="fa-solid fa-play" aria-hidden="true"></i>
        </div>
    </div>
</div>