@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.vhs-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
    box-shadow: inset 0px 0px 37px 15px rgba(243, 243, 243, 0.08);

    .vhs-effect-background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../../../../public/assets/images/tv-no-signal.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: color;
        opacity: 0.15;
        background-color: $pink;

        .glitch-line-blue-red {
            position: absolute;
            left: 0;
            width: 100%;
            height: 0.18rem;
            background-size: 100% 3px;
            filter: blur(3px);

            &_top {
                top: 0;
                animation: glitch-line-anim-top 0.25s linear infinite;
                @keyframes glitch-line-anim-top {
                    0% {
                        background: linear-gradient(to right, 
                        #0000ff 0%, #0000ff 10%, 
                        #ff0000 10%, #ff0000 20%, 
                        #0000ff 20%, #0000ff 40%, 
                        #ff0000 40%, #ff0000 60%, 
                        #0000ff 60%, #0000ff 65%, 
                        #ff0000 65%, #ff0000 85%, 
                        #0000ff 85%, #0000ff 100%);
                    }
                    50% {
                        background: linear-gradient(to right, 
                        #ff0000 0%, #ff0000 10%, 
                        #0000ff 10%, #0000ff 20%, 
                        #ff0000 20%, #ff0000 40%, 
                        #0000ff 40%, #0000ff 60%, 
                        #ff0000 60%, #ff0000 65%, 
                        #0000ff 65%, #0000ff 85%, 
                        #ff0000 85%, #ff0000 100%);
                    }
                    100% {
                        background: linear-gradient(to right, 
                        #0000ff 0%, #0000ff 10%, 
                        #ff0000 10%, #ff0000 20%, 
                        #0000ff 20%, #0000ff 40%, 
                        #ff0000 40%, #ff0000 60%, 
                        #0000ff 60%, #0000ff 65%, 
                        #ff0000 65%, #ff0000 85%, 
                        #0000ff 85%, #0000ff 100%);
                    }
                }
            }

            &_bottom {
                bottom: 0;
                animation: glitch-line-anim-bottom 0.25s linear infinite;
                @keyframes glitch-line-anim-bottom {
                    0% {
                        background: linear-gradient(to right, 
                        #0000ff 0%, #0000ff 5%, 
                        #ff0000 5%, #ff0000 16%, 
                        #0000ff 16%, #0000ff 30%, 
                        #ff0000 30%, #ff0000 50%, 
                        #0000ff 50%, #0000ff 65%, 
                        #ff0000 65%, #ff0000 90%, 
                        #0000ff 90%, #0000ff 100%);
                    }
                    50% {
                        background: linear-gradient(to right, 
                        #ff0000 0%, #ff0000 5%, 
                        #0000ff 5%, #0000ff 16%, 
                        #ff0000 16%, #ff0000 30%, 
                        #0000ff 30%, #0000ff 50%, 
                        #ff0000 50%, #ff0000 65%, 
                        #0000ff 65%, #0000ff 90%, 
                        #ff0000 90%, #ff0000 100%);
                    }
                    100% {
                        background: linear-gradient(to right, 
                        #0000ff 0%, #0000ff 5%, 
                        #ff0000 5%, #ff0000 16%, 
                        #0000ff 16%, #0000ff 30%, 
                        #ff0000 30%, #ff0000 50%, 
                        #0000ff 50%, #0000ff 65%, 
                        #ff0000 65%, #ff0000 90%, 
                        #0000ff 90%, #0000ff 100%);
                    }
                }
            }
        }

        .glitch-line {
            position: absolute;
            left: 0;
            width: 100%;
            opacity: 1;
            height: 1px;
            background: $white;
            box-shadow: 6px -4px 2px rgba(255, 52, 52, 0.6), 8px -6px 2px rgba(52, 255, 120, 0.6);
            animation: glitch-line-anim 2s linear infinite;
            @keyframes glitch-line-anim {
                0% {
                    top: 0%;
                }
                100% {
                    top: 100%;
                }
            }
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4%;
        opacity: 0.5;

        @include screen('s') {
            display: flex;
        }

        .timer {
            color: $white;
            font-size: 1.3rem;
        }

        .container-play {
            display: flex;
            align-items: center;

            p, i {
                color: $white;
                font-size: 1.3rem;
            }

            p {
                text-transform: uppercase;
                margin-right: 0.55rem;
            }
        }
    }
}