<div class="vhs-effect">
    <div class="vhs-effect-background">
        <div class="glitch-line-blue-red glitch-line-blue-red_top"></div>
        <div class="glitch-line-blue-red glitch-line-blue-red_bottom"></div>
        <div class="glitch-line"></div>
    </div>
    <div class="footer" [class.flash-animation]="isFlashing">
        <div class="timer reddit-mono text-shadow-glitch">00:00:00</div>
        <div class="container-play text-shadow-glitch">
            <p class="reddit-mono">Play</p>
            <i class="fa-solid fa-play" aria-hidden="true"></i>
        </div>
    </div>
</div>