<div class="container overflow-x-auto-s">
    <div #employeeCard class="employee-card averia-serif-libre-light">
        <div class="card">
            <div class="card-header">
                <h3 class="hidden-block-s">wwww.survolez-moi.fr</h3>
                <h3 class="display-block-s">wwww.scrollez-moi.fr</h3>
                <div class="container-icon">
                    <i class="fa-solid fa-laptop-code" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-content">
                <div class="photo"></div>
                <div class="container-text">
                    <p>
                        <span>Nobody can do it</span>
                        <span>like Yoann Rebah can</span>
                    </p>
                    <p>
                        Soisy-sur-Seine, Essonne
                    </p>
                </div>
            </div>
            <div class="banner">
                <p>
                    <span>Intégrateur & Développeur Front-End.</span>
                    <span>Since 2019</span>
                </p>
            </div>
            <div class="card-footer">
                <i class="fa-solid fa-dragon" aria-hidden="true"></i>
                <p>
                    <span>I.N.T & D.E.V <i class="fa-regular fa-copyright"></i> 2019</span>
                </p>
                <i class="fa-brands fa-connectdevelop" aria-hidden="true"></i>
            </div>
            <img class="wave" src="../../assets/images/wave.png" alt="Vague">
            <div class="half-circle"></div>
        </div>
    </div>
</div>