@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/layout/container';

.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}