.container {
    position: relative;
    width: 100%;

    &_small {
        padding: 0 2.5%;

        @include screen('s') {
            padding: 0 5%;
        }
    }

    &_medium {
        padding: 0 8%;

        @include screen('s') {
            padding: 0 16%;
        }
    }

    &_large {
        padding: 0 16%;

        @include screen('s') {
            padding: 0 24%;
        }
    }
}