footer {
    background: $black;

    [data-content="footer"] {
        margin-top: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    
        .list-footer {
            list-style: none;
            column-count: 2;
            column-fill: auto;
            height: 220px;

            @include screen('s') {
                column-count: 3;
                height: 150px;
            }

            li {
                margin-bottom: 0.6rem;

                @include screen('s') {
                    margin-bottom: 1rem;
                }

                a {
                    font-size: 0.6rem;
    
                    @include screen('s') {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}