$gap-polaroid: 3rem;

[data-content="notable-achievements"] {
    .container-polaroid {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $gap-polaroid;
        margin-top: 3.5rem;

        @include screen('s') {
            justify-content: inherit;
            margin-top: 0;
        }
    
        .polaroid {
            position: relative;
            flex: calc(100% - $gap-polaroid);
            display: flex;
            flex-direction: column;
            height: 330px;
            border: 10px solid $white;
            max-width: 320px;

            @include screen('s') {
                max-width: inherit;
            }

            @include screen('s') {
                flex: calc(50% - $gap-polaroid);
            }
    
            &:nth-child(1) {
                transform: rotate(1deg);
            }
    
            &:nth-child(2) {
                transform: rotate(6deg);
            }
    
            &:nth-child(3) {
                transform: rotate(0deg);
            }
    
            &:nth-child(4) {
                transform: rotate(1deg);
            }
    
            &:hover {
                .photo {
                    filter: sepia(0.4) contrast(0.7) grayscale(0.2) brightness(140%);
                }
            }
    
            .scotch-band {
                position: absolute;
                z-index: 1;
    
                &_top-left {
                    width: 130px;
                    top: -12px;
                    left: -50px;
                    transform: rotate(-30deg);
                }
    
                &_top-right {
                    width: 132px;
                    top: -16px;
                    right: -50px;
                    transform: rotate(30deg);
                }
    
                &_bottom-right {
                    width: 140px;
                    bottom: -10px;
                    right: -45px;
                    transform: rotate(150deg);
                }
    
                &_top-middle {
                    width: 80px;
                    left: 38%;
                    top: -20px;
                    transform: rotate(280deg);
                }
    
                &_top-middle-horizontal {
                    width: 200px;
                    top: -34px;
                    left: 15%;
                    transform: rotate(170deg);
                }
            }
    
            .photo {
                flex: 80;
                background-color: $black;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 55%;
                filter: sepia(0.4) contrast(0.7) grayscale(0.2) brightness(160%);
                transition: filter 0.2s ease-in-out;
    
                &[data-photo="hb"] {
                    background-image: url(../../assets/images/logo-hb.png);
                }
    
                &[data-photo="hb-pro"] {
                    background-image: url(../../assets/images/logo-hb-pro.png);
                }
    
                &[data-photo="open-street-map"] {
                    background-image: url(../../assets/images/logo-open-street-map.png);
                }
    
                &[data-photo="bnp"] {
                    background-image: url(../../assets/images/logo-bnp.png);
                }
            }
    
            .note {
                flex: 20;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $white;
    
                p {
                    font-size: 1.15rem;
                    text-align: center;
                    color: $black;
                }
            }
        }
    }
}