<app-main>

  <!-- <app-loader></app-loader> -->
  <app-vhs-effect></app-vhs-effect>
  <!-- <app-tv-program videoPath="assets/videos/tv-program.mp4"></app-tv-program> -->
   <!-- <app-game></app-game> -->

  <!-- nav -->
  <app-nav>
    <app-list-nav></app-list-nav>
  </app-nav> 
  
  <app-content>

    <!-- header -->
    <app-header>
      <app-h1></app-h1>
    </app-header> 
    
    <!-- intro -->
    <app-section id="intro">
      <app-introduction></app-introduction>
    </app-section>

    <!-- skills -->
    <app-section id="skills">
      <app-h2>Compétences</app-h2>
      <app-skills></app-skills>
    </app-section>

    <!-- ads new-coke -->
    <app-ads-poster imgPath="assets/images/advertisement-new-coke.jpg"></app-ads-poster>

    <!-- notable-achievements -->
    <app-section id="notable-achievements">
      <app-h2>Réalisations Notables</app-h2>
      <app-notable-achievements></app-notable-achievements>
    </app-section>

    <!-- tools-overview -->
    <app-section id="tools-overview">
      <app-h2>Logiciels & Outils</app-h2>
      <app-tools-overview></app-tools-overview>
    </app-section>

    <!-- ads apple -->
    <app-ads-poster imgPath="assets/images/advertisement-apple.jpg"></app-ads-poster>

    <!-- current-job -->
    <app-section id="current-job">
      <app-h2>Poste Actuel</app-h2>
      <app-employee-card></app-employee-card>
    </app-section>

    <!-- location -->
    <app-section id="location">
      <app-h2>Localisation</app-h2>
      <app-location></app-location>
    </app-section>

    <!-- ads e.t -->
    <app-ads-poster imgPath="assets/images/advertisement-et.jpg"></app-ads-poster>

    <!-- interests -->
    <app-section id="interests">
      <app-h2>Centres d'intérêt</app-h2>
      <app-marquee-interests></app-marquee-interests>
    </app-section>

    <!-- arcade-room -->
    <app-section id="arcade-room">
      <app-h2>Salle d'Arcade</app-h2>
      <app-arcade-room></app-arcade-room>
    </app-section>

    <!-- contact -->
    <app-section id="contact">
      <app-h2>Contact</app-h2>
      <app-contact></app-contact>
    </app-section>
    
    <!-- references-inspirations -->
    <app-section id="references-inspirations">
      <app-h2>Références & Inspirations</app-h2>
      <app-references-inspirations></app-references-inspirations>
    </app-section>

    <!-- ads nike -->
    <app-ads-poster imgPath="assets/images/advertisement-nike.jpg"></app-ads-poster>

  </app-content>

  <!-- footer -->
  <app-footer>
    <app-list-footer></app-list-footer>
  </app-footer>

</app-main>

<router-outlet />