@import './styles/base/variables';
@import './styles/base/mixins';

.container {
    position: relative;
    width: 100%;

    &_small {
        padding: 0 16%;

        @include screen('s') {
            padding: 0 24%;
        }
    }

    &_medium {
        padding: 0 8%;

        @include screen('s') {
            padding: 0 16%;
        }
    }

    &_large {
        padding: 0 3%;

        @include screen('s') {
            padding: 0 6%;
        }
    }
}