<main>

  <!-- loader (overlay) -->
  <app-loader></app-loader>

  <!-- vhs-effect (overlay) -->
  <app-vhs-effect></app-vhs-effect>

  <!-- nav (navigation) -->
  <app-nav></app-nav>

  <!-- hero-banner (layout) -->
  <app-hero-banner>
    <app-h1></app-h1>
  </app-hero-banner>  

  <div class="container container_medium">

    <!-- intro -->
    <app-section id="intro">
      <app-h2>Introduction</app-h2>
      <p>
        Bienvenue sur mon portfolio&nbsp;!
      </p>
      <p>
        Les défis de ce projet&nbsp;? Réaliser un site from scratch sans utiliser de framework,
        en intégrant Three.js et en créant des composants avec une identité visuelle bien marquée, dans une ambiance
        fortement teintée années 1980.
      </p>
      <p>
        Soyez curieux&nbsp;;) Survolez, cliquez... Bonne visite&nbsp;!
      </p>
    </app-section>

    <!-- skills -->
    <app-section id="skills">
      <app-h2>Compétences</app-h2>
      <app-list-skills></app-list-skills>
    </app-section>

    <!-- arcade-promotion -->
    <!-- <div class="container-arcade-promotion">
      <a href="#arcade" aria-label="Salle d'Arcade" data-title-popin="Vers la section Salle d'Arcade"></a>
    </div> -->

    <!-- tools -->
    <app-section id="tools">
      <app-h2>Logiciels & Outils</app-h2>
      <app-tools-overview></app-tools-overview>
    </app-section>

    <!-- notable-achievements -->
    <app-section id="notable-achievements">
      <app-h2>Réalisations Notables</app-h2>
      <app-notable-achievements></app-notable-achievements>
    </app-section>

    <!-- current-job -->
    <app-section id="current-job">
      <app-h2>Poste Actuel</app-h2>
      <app-employee-card></app-employee-card>
    </app-section>

    <!-- interests -->
    <app-section id="interests">
      <app-h2>Centres d'intérêt</app-h2>
      <app-marquee-interests></app-marquee-interests>
    </app-section>

    <!-- contact -->
    <app-section id="contact">
      <app-h2>Contact</app-h2>
      <app-contact></app-contact>
    </app-section>

    <!-- location -->
    <app-section id="location">
      <app-h2>Contact</app-h2>
      <app-location></app-location>
    </app-section>
    <!-- <section id="location" class="container main-section">
      <h2 class="btn megrim-regular text-shadow-glitch-2" data-h2="location"
        data-title-popin="Afficher / Masquer la section">Localisation</h2>
      <div class="content" data-content="location">
        <div class="container-location">
          <canvas class="canvas-earth-globe"></canvas>
        </div>
        <div class="container-location">
          <div class="wrapper-location">
            <h3>
              <i class="fa-solid fa-globe"></i> Recherche en cours...
            </h3>
            <p><i class="fa-solid fa-check"></i> Pays&nbsp;: <span>France</span></p>
            <p><i class="fa-solid fa-check"></i> Région&nbsp;: <span>Île-de-France</span></p>
            <p><i class="fa-solid fa-check"></i> Département&nbsp;: <span>Essonne</span></p>
            <p><i class="fa-solid fa-xmark"></i> Ville&nbsp;: <span id="typed-text-cities"></span></p>
          </div>
        </div>
      </div>
    </section> -->

    <!-- arcade-room -->
    <app-section id="arcade-room">
      <app-h2>Salle d'Arcade</app-h2>
      <app-arcade-room></app-arcade-room>
    </app-section>

    <!-- references -->
    <section id="references" class="container main-section">
      <h2 class="btn megrim-regular text-shadow-glitch-2" data-h2="references"
        data-title-popin="Afficher / Masquer la section">Références & Inspirations</h2>
      <div class="content" data-content="references">
        <div class="container-references">
          <ul class="references-list">
            <!-- js load => components/References.js -->
          </ul>
          <p class="nb" data-title-popin="timer.InitSignalOn()">
            <span>Note de la production&nbsp;:</span> Le signal TV sera rétabli dans une heure. Merci pour votre
            compréhension.
          </p>
        </div>
      </div>
    </section>

  </div>

  <!-- footer -->
  <footer class="container container_medium" data-container="footer">
    <div class="content" data-content="footer">
      <ul class="list-footer">
        <!-- js load => controllers/Footer.js -->
      </ul>
    </div>
  </footer>

</main>

  <!-- video-game-menu -->
  <!-- <div class="video-game-menu">
    <div class="content">
      <div class="content-main-menu">
        <div class="container-title">
          <p class="dancing-script-regular">Freedom Games presents</p>
          <h3 class="jersey-15-regular">LAUNCHER 2000</h3>
        </div>
        <div class="container-btn">
          <button class="btn" data-btn-action="new-game" data-title-popin="Lancer une nouvelle partie"
            aria-label="Lancer une nouvelle partie">
            <span class="jersey-15-regular">Nouvelle partie</span>
          </button>
          <button class="btn" data-btn-action="quit-arcade-menu" data-title-popin="Quitter le mode arcade"
            aria-label="Quitter le mode arcade">
            <span class="jersey-15-regular">Quitter</span>
          </button>
        </div>
        <div class="container-footer">
          <p class="jersey-15-regular">COPYRIGHT <i class="fa-regular fa-copyright"></i> 1980</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- video-game -->
  <!-- <div class="video-game">
    <div class="content">
      <div class="content-header">
        <button class="btn" data-btn-action="back-to-arcade-menu" data-title-popin="Retour au menu principal"
          aria-label="Retour au menu principal">
          <i class="fa-solid fa-arrow-left" aria-hidden="true"></i>
          <span class="jersey-15-regular">Menu principal</span>
        </button>
        <div class="container-health-bar">
          <p class="jersey-15-regular">PV</p>
          <div class="health-bar"></div>
        </div>
        <div class="container-score">
          <p class="jersey-15-regular">Score&nbsp;: <span class="score">0</span></p>
          <p class="jersey-15-regular">High&nbsp;Score&nbsp;: <span class="high-score">0</span></p>
        </div>
      </div>
      <div class="content-game">
        <div class="game"></div>
      </div>
    </div>
  </div> -->

  <!-- game-over -->
  <!-- <div class="game-over">
    <div class="game-over-background-image"></div>
    <h3 class="jersey-15-regular">GAME OVER</h3>
    <p class="jersey-15-regular">Score&nbsp;: <span class="game-over-score"></span></p>
    <div class="container-btn">
      <button class="btn" data-btn-action="new-game" data-title-popin="Recommencer une partie"
        aria-label="Recommencer une partie">
        <span class="jersey-15-regular">Recommencer</span>
      </button>
      <button class="btn" data-btn-action="back-to-arcade-menu" data-title-popin="Retour au menu principal"
        aria-label="Retour au menu principal">
        <span class="jersey-15-regular">Menu principal</span>
      </button>
    </div>
  </div> -->


<router-outlet />