$nav-height: 5.3rem;

[data-container="main-nav"] {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: $nav-height;
    background: $body-bg;
    border-bottom: 1.5px solid $cyan;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in-out;

    &.active {
        @include screen('s') {
            opacity: 1;
            pointer-events: all;
        }
    }

    .main-nav {
        position: relative;
        padding: 0 10%;
    
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            height: 100%;
    
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
    
                .link-main-nav {
                    text-decoration: none;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.7rem;
                    font-weight: 700;
    
                    &.large {
                        font-size: 1.5rem;
                    }
    
                    i {
                        margin-right: .33rem;
                    }
                }
            }
        }
    
        [data-btn-action="reduce-main-nav"]{
            position: absolute;
            right: 12%;
            bottom: -24px;
            background: $cyan;
            color: $black;
            padding: 0.33rem;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            font-weight: 700;
            transition: 0.15s ease-in-out;

            &:hover {
                filter: brightness(130%);
            }
        }
    }

    &.reduce {
        top: -$nav-height + 0.1rem;
        border-bottom-color: $pink;

        [data-btn-action="reduce-main-nav"]{
            background: $pink;
            color: $black;

            .fa-icon {
                transform: rotate(180deg);
                transition: transform 0.25s ease-in-out;
            }
        }
    }
}