section {
    position: relative;

    &.main-section {
        padding-top: 4rem;

        @include screen('s') {
            padding-top: 6rem;
        }

        &:last-child {
            margin-bottom: 8rem;
        }

        .content {
            position: relative;
            margin-top: 3rem;

            @include screen('s') {
                margin-top: 4rem;
            }
        }
    }
}