<div *ngIf="isLoading" class="loader">
    <div class="loader-background"></div>
    <div class="glitch-line" style="opacity: 0.1;"></div>
    <div class="glitch-line" style="opacity: 0.1;animation-delay: 1.5s;"></div>
    <div class="glitch-line" style="opacity: 0.1;animation-delay: 1.75s;"></div>
    <div class="glitch-line" style="opacity: 0.1;animation-delay: 2s;"></div>
    <div class="wrapper">
        <p id="loader-text-1" class="reddit-mono text-shadow-glitch"><i class="fa-solid fa-satellite"></i> Signal perdu...
        </p>
        <p id="loader-text-2" class="reddit-mono text-shadow-glitch">Lecture de la bande "Y_REBAH"...</p>
        <div class="container-block">
        <div class="block" style="animation-delay: 0s;"><i class="fa-solid fa-video-slash"></i></div>
        <div class="block" style="animation-delay: 0.25s;"><i class="fa-solid fa-video-slash"></i></div>
        <div class="block" style="animation-delay: 0.5s;"><i class="fa-solid fa-video-slash"></i></div>
        <div class="block" style="animation-delay: 0.75s;"><i class="fa-solid fa-video-slash"></i></div>
        <div class="block" style="animation-delay: 1s;"><i class="fa-solid fa-video-slash"></i></div>
        </div>
    </div>
</div>