<footer class="fixed-w-full-bottom p-4 px-[4%] opacity-90 flex-center-between pointer-events-none animation-fade-forwards-5s z-40" [class.hidden-important]="!isVisible">
    <app-vhs-time-counter></app-vhs-time-counter>
    <div class="flex items-center">
        <p class="text-shadow-chromatic-glitch-strong text-white mr-2 text-base md:text-xl">PLAY</p>
        <i class="fa-solid fa-play text-shadow-chromatic-glitch-strong text-white text-base md:text-xl" aria-hidden="true"></i>
    </div>
</footer>