<app-vhs-effect></app-vhs-effect>
<app-loader></app-loader>
<app-tv-program></app-tv-program>
<app-terminal></app-terminal>
<app-menu></app-menu>

<app-main>
  
    <!-- nav -->
    <app-nav>
      <app-nav-content></app-nav-content>
    </app-nav> 
    
    <!-- content -->
    <app-content>
  
        <!-- header -->
        <app-header>
            <app-h1></app-h1>
        </app-header>

        <!-- intro -->
        <app-section id="intro">
            <app-h2 text="Introduction"></app-h2>
            <app-introduction></app-introduction>
        </app-section>

        <!-- skills -->
        <app-section id="skills">
            <app-h2 text="Compétences"></app-h2>
            <app-skills></app-skills>
        </app-section>

        <!-- ads new-coke -->
        <app-ads-poster imgPath="assets/images/advertisement-new-coke.jpg"></app-ads-poster>

        <!-- notable-achievements -->
        <app-section id="notable-achievements">
            <app-h2 text="Réalisations Notables"></app-h2>
            <app-achievements></app-achievements>
        </app-section>

        <!-- tools-overview -->
        <app-section id="tools-overview">
            <app-h2 text="Logiciels & Outils"></app-h2>
            <app-tools-overview></app-tools-overview>
        </app-section>

        <!-- ads apple -->
        <app-ads-poster imgPath="assets/images/advertisement-apple.jpg"></app-ads-poster>

        <!-- current-job -->
        <app-section id="current-job">
            <app-h2 text="Poste Actuel"></app-h2>
            <app-employee-card></app-employee-card>
        </app-section>

        <!-- location -->
        <app-section id="location">
            <app-h2 text="Localisation"></app-h2>
            <app-location></app-location>
        </app-section>

        <!-- ads e.t -->
        <app-ads-poster imgPath="assets/images/advertisement-et.jpg"></app-ads-poster>

        <!-- interests -->
        <app-section id="interests">
            <app-h2 text="Centres d'intérêt"></app-h2>
            <app-marquee-interests></app-marquee-interests>
        </app-section>

        <!-- arcade-room -->
        <app-section id="arcade-room">
            <app-h2 text="Salle d'Arcade"></app-h2>
            <app-arcade-room></app-arcade-room>
        </app-section>

        <!-- form-contact -->
        <app-section id="contact">
            <app-h2 text="Formulaire de Contact"></app-h2>
            <app-form-contact></app-form-contact>
        </app-section>

        <!-- blog -->
        <app-section id="blog">
            <app-h2 text="Les articles du blog"></app-h2>
            <app-blog></app-blog>
        </app-section>

        <!-- ads nike -->
        <app-ads-poster imgPath="assets/images/advertisement-nike.jpg"></app-ads-poster>
  
    </app-content>
  
    <!-- footer -->
    <app-footer>
      <app-footer-content></app-footer-content>
    </app-footer>
  
  </app-main>