<div class="container achievements">
    <div class="achievements-window">
        <header>
            <div class="title">
                <p>
                    Lorem ipsum dolor sitipsum dolor sit
                </p>
            </div>
            <div class="container-btn">
                <button class="btn">
                    <i class="fa-solid fa-question"></i>
                </button>
                <button class="btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </header>
        <div class="content">
            <div class="container-btn-tabs">
                <button class="btn active">Lorem</button>
                <button class="btn">ipsum</button>
                <button class="btn">dolor</button>
                <button class="btn">sitipsum</button>
                <button class="btn">dolor sit</button>
            </div>
            <div class="container-flex-2-columns">
                <div class="column">
                    <img src="assets/gif/achievements-1.gif" alt="">
                </div>
                <div class="column">
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                            <li>Lorem ipsum dolor, sit amet.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container-btn">
                <button class="btn">Précédent</button>
                <button class="btn">Suivant</button>
            </div>
        </footer>
    </div>
</div>