<div class="container achievements">
    <div class="achievements-window">
        <header>
            <div class="title">
                <p>
                    Lorem ipsum dolor sitipsum dolor sit
                </p>
            </div>
            <div class="container-btn">
                <button class="btn">
                    <i class="fa-solid fa-question"></i>
                </button>
                <button class="btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </header>
        <div class="content">
            <div class="container-btn-tabs">
                <button class="btn" [ngClass]="{'active': activeIndex === 0}" (click)="setActive(0)">Lorem</button>
                <button class="btn" [ngClass]="{'active': activeIndex === 1}" (click)="setActive(1)">Lorem</button>
                <button class="btn" [ngClass]="{'active': activeIndex === 2}" (click)="setActive(2)">Lorem</button>
                <button class="btn" [ngClass]="{'active': activeIndex === 3}" (click)="setActive(3)">Lorem</button>
            </div>
            <div class="container-flex-2-columns" [ngClass]="{'active': activeIndex === 0}">
                <div class="column">
                    <img src="assets/gif/achievements-1.gif" alt="">
                </div>
                <div class="column">
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-flex-2-columns" [ngClass]="{'active': activeIndex === 1}">
                <div class="column">
                    <img src="assets/gif/achievements-2.gif" alt="">
                </div>
                <div class="column">
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-flex-2-columns" [ngClass]="{'active': activeIndex === 2}">
                <div class="column">
                    <img src="assets/gif/achievements-3.gif" alt="">
                </div>
                <div class="column">
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-flex-2-columns" [ngClass]="{'active': activeIndex === 3}">
                <div class="column">
                    <img src="assets/gif/achievements-5.gif" alt="">
                </div>
                <div class="column">
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                    <div class="block-details">
                        <p>Lorem ipsum dolor :</p>
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                            <li><p>Lorem ipsum dolor, sit amet.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container-btn">
                <button class="btn" (click)="triggerPrev()">Précédent</button>
                <button class="btn" (click)="triggerNext()">Suivant</button>
            </div>
        </footer>
    </div>
</div>