<div class="container achievements">
    <div class="achievements-window">
        <header>
            <div class="title">
                <p>
                    Lorem ipsum dolor sitipsum dolor sit
                </p>
            </div>
            <div class="container-btn">
                <button class="btn" (click)="showPopin('popin-need-help')">
                    <i class="fa-solid fa-question"></i>
                </button>
                <button class="btn" (click)="showPopin('popin-try-quit')">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </header>
        <div class="content">
            <div class="container-btn-tabs">
                <button *ngFor="let btn of btnTabs" class="btn" [ngClass]="{'active': activeIndex === btn.index}" (click)="setActive(btn.index)">{{ btn.text }}</button>
            </div>
            <div *ngFor="let column of columns" class="container-columns" [ngClass]="{'active': activeIndex === column.index}">
                <div class="column">
                    <img [src]="column.img.path" [alt]="column.img.path">
                </div>
                <div class="column">
                    <div class="container-block-details">
                        <div *ngFor="let blockDetail of column.blockDetails" class="block-details">
                            <p>{{ blockDetail.title }}</p>
                            <ul>
                                <li *ngFor="let text of blockDetail.list">
                                    <p>{{ text }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container-btn">
                <button class="btn" (click)="triggerPrev()">Précédent</button>
                <button class="btn" (click)="triggerNext()">Suivant</button>
            </div>
        </footer>
    </div>
    <app-popin 
        id="popin-need-help" 
        img="error" 
        titleText="Erreur 34_0201" 
        contentText="L'aide n'est pas disponible pour le moment..."
    ></app-popin>
    <app-popin 
        id="popin-try-quit" 
        img="error" 
        titleText="Erreur 37_100" 
        contentText="Vous ne pouvez pas faire ça pour le moment..."
    ></app-popin>
</div>