@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/base/container';

.references-inspirations {

    .list-references-inspirations {
        list-style: none;
        column-count: 3;
        column-fill: auto;
        max-height: 10rem;

        li {
            margin-bottom: .75rem;

            @include screen('s') {
                margin-bottom: 1rem;
            }

            a {
                font-size: .7rem;

                @include screen('s') {
                    font-size: 1rem;
                }
            }
        }
    }
}