@import '../../../../styles/variables';

.h1 {
    span {
        &:nth-child(1),
        &:nth-child(2) {
            background: linear-gradient($pink3 15%, $pink2 25%, $pink 35%, hsl(100, 70%, 80%) 45%, hsl(60, 100%, 98%) 50%, $white 100%);
            -webkit-text-stroke: 1px $white;
            background-clip: text;
            filter: drop-shadow(1px 3px 0px $white) drop-shadow(1px 3px 0px $cyan) drop-shadow(1px 3px 0px $cyan2) drop-shadow(1px 3px 0px $cyan3) drop-shadow(1px 3px 0px $cyan2) drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
        }

        &:nth-child(3) {
            transform: rotate(-12deg);
            filter: brightness(120%);
        }
    }
}