@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.tv-program {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 8;

    video {
        height: 100%;
    }

    button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .containter-message-signal-on {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        background: $black;
        color: $white;
        padding: 1rem 1.5rem;
        pointer-events: none;
        animation: signal-on-animation 5s linear forwards;
        @keyframes signal-on-animation {
            0% {
                opacity: 1;
            }
            99% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        p {
            font-size: 1.2rem;
            
            &:not(:last-child) {
                margin-bottom: .75rem;
            }
        }
    }
}