<div *ngIf="isVisible" class="container tv-program">
    <video #tvProgramVideo class="container">
        <source src="assets/videos/tv-program.mp4" type="video/mp4">
        Votre navigateur ne prend pas en charge la balise video.
    </video>
    <button class="btn" (click)="onClickHideVideo()"></button>
    <div *ngIf="isSignalOn" class="message-signal-on">
        <p class="reddit-mono text-shadow-glitch">
            <i class="fa-solid fa-satellite"></i> Signal faible...
        </p>
        <p class="reddit-mono text-shadow-glitch">
            Reprise du programme TV
        </p>
    </div>
</div>