<div *ngIf="isLoading" 
    class="loader fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-body z-40 bg-no-repeat bg-contain bg-center" 
    style="background-image: url('/assets/images/signal-tv-off.jpg');"
    >
    <div class="container-loader relative flex flex-col w-full bg-blue max-w-[350px] p-6">
        <p class="text-2xl opacity-65 mb-2 ml-1 text-shadow-chromatic-glitch-strong">
            <i class="fa-solid fa-satellite mr-2"></i>
            <span>Signal perdu...</span>
        </p>
        <p class="text-base opacity-65 text-shadow-chromatic-glitch-strong">
            Lecture de "YR_PORTFOLIO_2024"
        </p>
    </div>
</div>