<nav class="nav">
    <ul class="list-nav">
      <li>
        <a href="#" aria-label="Accueil" data-title-popin="Accueil">
          <h1 class="neon-letters small">
            <span class="satisfy-regular">Portfolio</span>
            <span class="neonderthaw-regular">Yoann</span>
            <span class="neonderthaw-regular">Rebah</span>
            <span class="satisfy-regular">2024</span>
          </h1>
        </a>
      </li>
      <li *ngFor="let link of navLinks">
        <a [href]="link.href" [ariaLabel]="link.ariaLabel" [class]="link.classNames !== '' ? link.classNames : null">
          {{ link.html }}
        </a>
      </li>
    </ul>
    <button class="btn" data-btn-action="reduce-main-nav" data-title-popin="Masquer le menu" aria-label="Afficher / Masquer la navigation">
      <i class="fa-solid fa-chevron-up fa-icon" aria-hidden="true"></i>
    </button>
</nav>