@import '../../../../styles/base';

.modal-background {

    .modal {
        border: 5px solid $grey;
        box-shadow: 2px 2px 0px 0px $black-transparent;

        header {
            button {
                width: 24px;
                height: 24px;
                border-top: 2px solid $white2;
                border-left: 2px solid $white2;
                border-right: 2px solid $black2;
                border-bottom: 2px solid $black2;

                &:active {
                    border-top: 2px solid $black2;
                    border-left: 2px solid $black2;
                    border-right: 2px solid $white2;
                    border-bottom: 2px solid $white2;
                }
            }

        }
    }
}