<div *ngIf="isVisible" #popin [id]="id" class="modal-background" [style.position]="position">
    <div class="container modal">
        <header>
            <div class="container-title">
                <p>{{ titleText }}</p>
            </div>
            <button class="btn" (click)="onClickHide()">
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
        </header>
        <div class="content">
            <ng-content select=".content"></ng-content>
        </div>
        <footer>
            <ng-content select=".footer"></ng-content>
        </footer>
    </div>
</div>