<div class="container blog">
    <div *ngFor="let cardGroup of cardGroups; let i = index;" class="card-group" [class.active]="activeIndex == i">
        <div *ngFor="let card of cardGroup" class="container-card">
            <div class="card">
                <div class="block-title">
                    <h2 class="megrim-regular">{{ card.h2 }}</h2>
                </div>
                <div class="block-text">
                    <p>{{ card.p }}</p>
                </div>
                <div class="block-cta">
                    <a [href]="card.a.href" [attr.aria-label]="card.a.ariaLabel" class="btn">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-pagination">
        <nav>
            <ul>
                <li>
                    <button class="btn" (click)="onClickPrev()"><<</button>
                </li>
                <li *ngFor="let cardGroup of cardGroups; let i = index;">
                    <button class="btn" [class.active]="activeIndex == i" (click)="setActive(i)">
                        {{ i + 1 }}
                    </button>
                </li>
                <li>
                    <button class="btn" (click)="onClickNext()">>></button>
                </li>
            </ul>
        </nav>
    </div>
</div>