@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.forms {
    display: flex;
    flex-direction: column;

    fieldset {
        padding: 1rem 1.2rem;
        margin-bottom: 1.75rem;
        border: 1px dashed $cyan;

        @include screen('s') {
            padding: 1rem 3rem;
        }

        legend {
            padding: .5rem;
            font-size: 1.35rem;

            @include screen('s') {
                padding: .75rem;
                font-size: 2.2rem;
            }
        }

        .container-form-flex {
            display: flex;
            flex-direction: column;
            gap: 0;

            @include screen('s') {
                flex-direction: row;
                gap: 3rem;
            }

            .col-flex-1 {
                flex: 1;

                .col-input {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1.3rem;

                    label {
                        position: relative;
                        font-weight: 500;
                        font-size: 0.9rem;
                        margin-bottom: .33rem;
            
                        sup {
                            position: absolute;
                        }

                        @include screen('s') {
                            font-size: 1.1rem;
                        }
                    }
            
                    input,
                    textarea {
                        border: 2px solid $white;
                        cursor: text;
                    }
            
                    select {
                        border: 2px solid $white;
                    }
            
                    input,
                    select,
                    textarea {
                        width: 100%;
                        padding: 0.65rem;
                        font-size: 1rem;

                        &:focus {
                            outline-color: $pink;
                        }
                    }
            
                    textarea {
                        resize: none;
                        min-height: 10rem;

                        @include screen('s') {
                            min-height: 6rem;
                        }
                    }
            
                    .error-message {
                        position: absolute;
                        top: 1%;
                        right: 1%;
                        color: $pink;
                        font-weight: 600;

                        small {
                            font-size: 0.75rem;

                            @include screen('s') {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .container-submit {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin-top: 1.5rem;
            border: 2px solid $cyan;
            width: 150px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background: $cyan;

                span {
                    color: $black;
                }
            }

            span {
                color: $white;
                font-size: 1.25rem;
            }
        }
    }
}

.popin-contact-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $body-bg-transparent;
    z-index: 1;

    &.message-success {
        .container-message {
            background: $blue;
        }
    }

    &.message-error {
        .container-message {
            background: $red;
        }
    }

    .container-message {
        padding: 1rem 2rem;
        background: $blue;
        max-width: 320px;

        p {
            font-size: 1.1rem;
            color: $white;
            text-align: center;
        }
    }
}