@import '../../../styles/base/variables';
@import '../../../styles/base/mixins';
@import '../../../styles/layout/container';

.forms {
    display: flex;
    flex-direction: column;

    fieldset {
        padding: 1.75rem 2.5rem;
        padding-bottom: 1rem;
        margin-bottom: 1.6rem;
        border-color: $cyan;
        border-width: 1px;

        legend {
            padding: .75rem;
            font-size: 2.3rem;
            font-weight: 400;
        }
    }

    .row-form {
        display: flex;
        margin-bottom: 2rem;
        gap: 3rem;

        &.flex-column {
            flex-direction: column;
            gap: 0;
        }

        &.submit {
            align-items: center;
            justify-content: center;

            button {
                margin-top: 1.5rem;
                padding: 0.6rem 2.2rem;
                color: $white;
                font-size: 1.25rem;
                border: 2px solid $cyan;

                &:hover {
                    background: $cyan;
                    color: $black;
                }
            }
        }

        .col-form {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        label {
            position: relative;
            font-weight: 500;
            font-size: 1.1rem;
            margin-bottom: .33rem;

            sup {
                position: absolute;
            }
        }

        input, textarea {
            border: 2px solid $white;
            cursor: text;
        }

        select {
            border: 2px solid $white;
        }

        input, select, textarea {
            width: 100%;
            padding: 0.65rem;
            font-size: 1rem;
        }

        textarea {
            resize: none;
            min-height: 5rem;
        }

        .error-message {
            position: absolute;
            bottom: -22px;
            color: $red;
            font-weight: 600;
        }
    }
}