<app-modal id="modal-admin" classNames="modal-admin" title="Admin">
    <div class="custom-content">
        <div class="relative flex items-center gap-4">
            <input type="text" class="p-2 text-black text-center" required>
            <input type="text" class="p-2 text-black text-center" required>
            <input type="text" class="p-2 text-black text-center" required>
            <input type="text" class="p-2 text-black text-center" required>
        </div>
    </div>
</app-modal>  