@import '../../../styles/base';

.terminal {
    ul {
        li {
            p {
                .span-caret {
                    transform: translate(-50%, -50%);
                    top: 50%;
                    right: -12%;
                    height: 90%;
                    width: 10px;
                }
            }

            input {
                cursor: text;

                &:disabled {
                    cursor: url(../../../../public/assets/images/mouse-cursor.png), auto;
                }
            }
        }
    }
}