@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../../styles/layout/container';

.terminal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $black;
    padding: 2.5rem 5rem;
    z-index: 9;

    ul {
        list-style: none;
        height: 15vh;
        max-height: 15vh;
        overflow-y: auto;

        li {
            display: flex;
            align-items: center;
            margin-bottom: .5rem;

            p {
                margin-right: .65rem;
                color: $green;
                font-size: 1.1rem;

                span {
                    color: $white;
                }
            }

            input {
                outline: none;
                font-weight: 500;
                color: $white;
                background: none;
                border: none;
                font-size: 1.1rem;
                letter-spacing: 1px;
                cursor: text;

                &.disabled {
                    pointer-events: none;
                }
            }
        }
    }
}