@if(isVisible) {
    <div [id]="id" class="fixed-backdrop-flex-center bg-black-transparent-light z-30" [style.position]="position">
        <div class="container relative w-full max-w-[420px] flex flex-col border-4 border-grey text-grey-dark shadow-black-transparent-dark">
            <!-- header -->
            <header class="flex-center-between bg-blue-dark p-1">
                <div class="container-title">
                    <p class="ml-2 text-white" [innerHTML]="headerTitle"></p>
                </div>
                <button class="btn bg-grey w-[24px] h-[24px] retro-windows-border-activable" (click)="onClickHide()">
                    <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                </button>
            </header>
            <!-- content -->
            <div>
                <ng-content select=".custom-content"></ng-content>
            </div>
            <!-- footer -->
            <footer>
                <ng-content select=".custom-footer"></ng-content>
            </footer>
        </div>
    </div>
}