@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

a, button, .btn {
    cursor: pointer;

    &>* {
        pointer-events: none;
    }
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

@layer utilities {
    .backdrop-full-fixed {
        @apply fixed top-0 left-0 w-full h-full;
    }
    .backdrop-full-screen-fixed {
        @apply fixed top-0 left-0 w-screen h-screen;
    }
    .backdrop-full-absolute {
        @apply absolute top-0 left-0 w-full h-full;
    }
    .backdrop-full-screen-absolute {
        @apply absolute top-0 left-0 w-screen h-screen;
    }
}