@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
}

a, button, .btn {
    cursor: pointer;

    &>* {
        pointer-events: none;
    }
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

@layer utilities {
    .backdrop-full-fixed {
        @apply fixed top-0 left-0 w-full h-full;
    }
    .backdrop-full-screen-fixed {
        @apply fixed top-0 left-0 w-screen h-screen;
    }
    .backdrop-full-absolute {
        @apply absolute top-0 left-0 w-full h-full;
    }
    .backdrop-full-screen-absolute {
        @apply absolute top-0 left-0 w-screen h-screen;
    }
}

@layer components {
    .btn-primary {
        @apply py-1 text-white bg-black w-full uppercase;
    }
    .btn-secondary {
        @apply py-1 text-black bg-white w-full uppercase border border-black;
    }
    .btn-tertiary {
        @apply py-1 text-red bg-white w-full uppercase border border-red;
    }
    .btn-google {
        @apply flex items-center justify-center gap-2 py-1 w-full text-black border border-gray;
    }
  }