@if(isVisible) {
    <div class="fixed-backdrop-full bg-black-transparent-dark z-40">
        <div class="relative w-[320px] h-full bg-body">
            <div class="relative h-full flex flex-col">
                <header class="flex-center-between p-4 pl-6 flex-[1_1_10%]">
                    <p class="text-lg text-shadow-chromatic-glitch">Menu</p>
                    <button class="text-lg text-shadow-chromatic-glitch" (click)="onClickHideMenu()">
                        <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                    </button>
                </header>
                <div class="p-4 pl-6 flex-[1_1_80%]">
                    <nav>
                        <ul>
                            @for (menuLink of menuLinks; track $index) {
                                <li class="mb-2">
                                    <a 
                                        [href]="menuLink.href" 
                                        [attr.aria-label]="menuLink.ariaLabel" 
                                        [attr.target]="menuLink.target"
                                        [attr.rel]="menuLink.target === '_blank' ? 'noopener noreferrer' : null"
                                        [innerHTML]="menuLink.text"
                                        class="text-sm"
                                        (click)="onClickHideMenu()"
                                    >
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <footer class="p-4 pl-6 flex-[1_1_10%]">
                    <button 
                        title="Paramètres" 
                        aria-label="Paramètres" 
                        class="btn text-sm flex items-center gap-0.5 text-white hover:text-cyan"
                        (click)="onClickShowSettings(); onClickHideMenu()"
                    >
                        <i class="fa-gear fa-solid" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:flex">Paramètres</span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
}