<div *ngIf="isVisible" [id]="id" class="popin-background">
    <div class="container popin">
        <header>
            <div class="container-title">
                <p>{{ titleText }}</p>
            </div>
            <button class="btn" (click)="onClickHide()">
                <i class="fa-solid fa-xmark" aria-hidden="true"></i>
            </button>
        </header>
        <div class="content">
            <div class="container-img">
                <img *ngIf="img === 'error'" src="assets/images/icon-error.png" alt="Erreur">
                <img *ngIf="img === 'valid'" src="assets/images/icon-check.png" alt="Valide">
                <img *ngIf="img === 'mail'" src="assets/images/icon-mail.png" alt="Formulaire transmis">
                <img *ngIf="img === 'help'" src="assets/images/icon-paperclip.png" alt="Aide">
            </div>
            <div class="container-text">
                <p>{{ contentText }}</p>
            </div>
        </div>
    </div>
</div>