@import '../../../../styles/variables';

h3 {
    span {
        &:before {
            content: attr(data-text);
            position: absolute;
            text-shadow: 2px 2px 1px $pink, -1px -1px 1px $pink, -2px 2px 1px $pink, 1px -1px 1px $pink2;
        }
    }
}