<div class="relative w-full flex-center-center flex-col gap-8 p-12 bg-square-pink shadow-inset-white-strong">
    <h3 class="silkscreen-regular flex items-center uppercase text-white text-4xl text-shadow-pixel-title opacity-90">
      <span class="relative tracking-tighter mr-3" data-text="LAUNCHER">LAUNCHER</span>
      <span class="relative tracking-tighter" data-text="2000">2000</span>
    </h3>
    <div class="flex items-center flash-animation-infinite opacity-90">
      <img class="animation-rotateY-infinite w-[32px] mr-2" src="assets/images/coin-video-games.png" alt="Pièce">
      <span class="silkscreen-regular text-white text-xl text-shadow-chromatic-glitch">INSERT COINS</span>
    </div>
    <a href="/launcher-2000" (click)="onClickPressPlay()" class="btn text-2xl text-white opacity-90" aria-label="Cliquez pour jouer">
      <span class="silkscreen-regular text-shadow-chromatic-glitch">PRESS TO PLAY</span>
    </a>
</div>