<div class="container arcade-room">
    <h3 class="jersey-15-regular">LAUNCHER 2000</h3>
    <div class="insert-coins flash-animation">
      <img src="../../assets/images/coin-video-games.png" alt="Pièce de monnaie" aria-hidden="true">
      <span class="silkscreen-regular">INSERT COINS</span>
    </div>
    <button class="btn" data-btn-action="open-arcade-menu" data-title-popin="Cliquez pour jouer" aria-label="Cliquez pour jouer">
      <span class="silkscreen-regular">press to play</span>
    </button>
</div>