<div class="arcade-room mx-auto flex flex-col items-center bg-square-pink shadow-inset-white-strong">
    <h3 class="silkscreen-regular flex items-center uppercase text-white">
      <span class="relative" data-text="LAUNCHER">LAUNCHER</span>
      <span class="relative" data-text="2000">2000</span>
    </h3>
    <div class="insert-coins flex items-center flash-animation-infinite">
      <img class="animation-rotateY-infinite" src="../../assets/images/coin-video-games.png" alt="Pièce de monnaie">
      <span class="silkscreen-regular text-white">INSERT COINS</span>
    </div>
    <a href="/launcher-2000" (click)="onClickPressPlay()" class="btn text-2xl text-white" aria-label="Cliquez pour jouer">
      <span class="silkscreen-regular">PRESS TO PLAY</span>
    </a>
</div>