@import '../../styles/base/variables';
@import '../../styles/base/mixins';

h2 {
    color: $cyan;
    font-weight: 700 !important;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 6rem;
    margin-bottom: 3rem;

    @include screen('s') {
        font-size: 2.5rem;
    }

    &::before {
        content: "-";
        display: flex;
        width: 1.5rem;
        height: 0.2rem;
        background: $cyan;
        color: $cyan;
        margin-right: .75rem;

        @include screen('s') {
            width: 3rem;
        }
    }

    &::after {
        content: "";
        display: flex;
        width: 94%;
        height: 0.2rem;
        background: $pink;
        position: absolute;
        right: 0;
        bottom: -0.2rem;

        @include screen('s') {
            width: 97%;
        }
    }

    &.reduce {
        color: $pink;

        &::before {
            content: "+";
            background: $cyan;
            color: $pink;
        }

        &::after {
            background: $cyan;
        }
    }
}