<div clas="flex items-center justify-center">
    <div class="flex flex-col">
        <header>
            <p>Créer un compte</p>
        </header>
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <ul>
                <li class="flex flex-col">
                    <label for="username">Nom d'utilisateur&nbsp;:</label>
                    <input id="username" type="text" formControlName="username"
                    [class.border-red]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
                </li>
                <li class="flex flex-col">
                    <label for="email">E-mail&nbsp;:</label>
                    <input id="email" type="text" formControlName="email"
                    [class.border-red]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                </li>
                <li class="flex flex-col">
                    <label for="password">Mot de passe&nbsp;:</label>
                    <input id="password" type="password" formControlName="password"
                    [class.border-red]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                </li>
                <li>
                    <button type="submit">Valider</button>
                </li>
            </ul>
        </form>
        <footer>
            <ul>
                <li>
                    <button (click)="onClickRegisterWithGoogle()">Créer un compte avec Google</button>
                </li>
                <li>
                    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Se connecter</a>
                </li>
            </ul>
        </footer>
    </div>
</div>