.btn {
    border: none;
    background: none;

    &>* {
        pointer-events: none;
    }
}

.user-select-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-shadow-glitch {
    text-shadow: $shadow-glitch;
}

.text-shadow-glitch-2 {
    text-shadow: $shadow-glitch2;
}

.flex-center-column-s {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen('s') {
        flex-direction: row;
    }
}

.hr-pink {
    border-color: $pink;
}

.hr-cyan {
    border-color: $cyan;
}

.overflow-x-auto-s {
    margin: -4rem 0;
    padding: 5rem 0;
    overflow-x: auto;

    @include screen('s') {
        overflow: hidden;
    }
}

.display-none {
    display: none !important;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.display-block-s {
    display: block;
                    
    @include screen('s') {
        display: none;
    }
}

.hidden-block-s {
    display: none;
                    
    @include screen('s') {
        display: block;
    }
}

.display-flex-s {
    display: flex;
                    
    @include screen('s') {
        display: none;
    }
}

.hidden-flex-s {
    display: none;
                    
    @include screen('s') {
        display: flex;
    }
}