* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: url(../../../../public/assets/images/mouse-cursor.png), auto;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    background: $body-bg;
    color: $body-color;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }
}

a, button, .btn, .hovered-over {
    &:hover {
        cursor: url(../../../../public/assets/images/mouse-cursor-hover.png), auto;
    }
}

a {
    color: $white;
    transition: color 0.1s ease-in-out;

    &:hover {
        color: $cyan;
    }

    &>* {
        pointer-events: none;
    }
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

hr {
    border: 1px solid;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include screen('s') {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}