$body-bg: #03010f;
$body-color: #fff;

$white: #fff;
$black: #212121;
$red: #da2f2f;
$black-light: #3a3a3a;
$blue-dark: #040114;
$cyan: hsl(172, 85%, 49%);
$cyan2: hsl(170, 79%, 33%);
$pink: hsl(323, 100%, 78%);
$pink-light: hsla(323, 100%, 78%, 0.3);
$pink2: hsl(323, 63%, 37%);
$pink2-light: hsla(323, 63%, 37%, 0.3);
$orange: hsl(27, 100%, 70%);
$orange2:hsl(27, 85%, 33%);
$yellow: hsl(56, 100%, 70%);
$yellow2: hsl(56, 88%, 29%);

$shadow-cyan: 0 0 5px $cyan, 0 0 15px $cyan, 0 0 20px $cyan, 0 0 40px $cyan, 0 0 60px $cyan2, 0 0 10px $cyan, 0 0 98px $cyan2;
$shadow-cyan-3d: 0 0 5px $cyan, 0 0 15px $cyan, 0 0 20px $cyan, 0 0 40px $cyan, 0 0 60px $cyan2, 0 0 10px $cyan, 0 0 98px $cyan2, 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191,1px 8px 1px #919191,1px 9px 1px #919191,1px 10px 1px #919191,1px 18px 6px rgba(16,16,16,0.4),1px 22px 10px rgba(16,16,16,0.2),1px 25px 35px rgba(16,16,16,0.2),1px 30px 60px rgba(16,16,16,0.4);
$shadow-pink: 0 0 5px $pink, 0 0 15px $pink, 0 0 20px $pink, 0 0 40px $pink, 0 0 60px $pink2, 0 0 10px $pink, 0 0 98px $pink2;
$shadow-pink-3d: 0 0 5px $pink, 0 0 15px $pink, 0 0 20px $pink, 0 0 40px $pink, 0 0 60px $pink2, 0 0 10px $pink, 0 0 98px $pink2, 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191,1px 8px 1px #919191,1px 9px 1px #919191,1px 10px 1px #919191,1px 18px 6px rgba(16,16,16,0.4),1px 22px 10px rgba(16,16,16,0.2),1px 25px 35px rgba(16,16,16,0.2),1px 30px 60px rgba(16,16,16,0.4);
$shadow-black-3d: 0 0 5px $black, 0 0 15px $black, 0 0 20px $black, 0 0 40px $black, 0 0 60px $black, 0 0 10px $black, 0 0 98px $black, 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191,1px 8px 1px #919191,1px 9px 1px #919191,1px 10px 1px #919191,1px 18px 6px rgba(16,16,16,0.4),1px 22px 10px rgba(16,16,16,0.2),1px 25px 35px rgba(16,16,16,0.2),1px 30px 60px rgba(16,16,16,0.4);

$breakpoints: (
  'xxs':  280px,
  'xs':  370px,
  's':  501px,
  'm': 768px,
  'l':  1025px,
  'xl': 1281px,
  'xxl': 1440px,
  'mega': 1800px,
);